[2019-10-17 19:57] joemienko opened #1 "Social workers need a better summary information of visit reports"
As a social worker, I need a summary that communicates clear metrics of participation for a case over time, so that I can quickly understand the trends of the case, and present it in court.

[2019-10-21 15:25] joemienko opened #2 "Need to limit access to restricted cases"
As a sprout user, I should not have access to restricted cases unless I am assigned to the case, so that FamLink user restrictions mirror sprout user restrictions

[2019-10-21 15:27] joemienko opened #3 "Referrals should be filterable by jurisdiction"
As a user, I should be able to select those referrals assigned to just "my office, etc.", so that I am not overwhelmed by the number of referrals I can see.

[2019-10-21 15:31] joemienko opened #4 "Sprout users should see a "working set" of referrals"
As a user, I should have a default view of referrals that are relevant to me, so that I am not overwhelmed by the number of referrals I can see.

[2019-10-21 15:34] joemienko opened #5 "Referral summary metric is not displaying information correctly"
The referral summary visualization is not currently working. This was removed from sprout in the following commit: https://github.com/pocdata/poc-oliver/commit/301882da27192ddda654a69e0b82b2655ab3525f

Needs to be added back in ASAP

[2019-10-21 15:38] joemienko opened #6 "Batch print of visit reports"
As a sprout user, I should be able to download multiple visit reports at the same time, so that I don't waste time opening each visit report

[2019-10-21 15:40] joemienko opened #7 "Visit coordinators cannot edit approved visit participants"
As a visit coordinator, I should be able to add visit participants, so that I can modify this portion of the referral without creating a new visit plan

[2019-10-21 15:42] joemienko commented on #7
This should be allowed by visit coordinators only.
Unclear whether or not this should be allowed for NA role as well.

[2019-10-21 15:45] joemienko opened #8 "Need to enable MFA for all users"
As a sprout user, I should be required to enter two forms of authentication, so that sprout fully verify the legitimacy of all transactions

[2019-10-21 15:48] joemienko opened #9 "Need to ensure auto logout"
Users should be automatically logged off from sprout within 15 minutes of "inactivity". This has the appearance of working, but is not doing so consistently.

[2019-10-21 15:49] joemienko opened #10 "Users should be logged off from sprout when exiting from their browsers"
As a user, my session should end when I leave my browser, to ensure that someone cannot continue in my session when reopening a browser on shared computers.

[2019-10-21 15:51] joemienko opened #11 "Default to "my" organization"
For users in routing organizations, my "working set" of referrals should default filter to my organization.

[2019-10-21 16:14] joemienko opened #12 "Dynamic assigned organization"
As a provider organization with no sub contracts, I should not see the "assigned" organization in my referral cards, so that I am only shown information that adds value to my UX

[2019-10-21 16:15] joemienko opened #13 "Determine supervisor distance from visit locations"
As a provider user, I should be able to determine how close visit referrals are to visit supervisors in my organization, so that visits are assigned to supervisors closest to the visit location

[2019-10-21 16:17] joemienko opened #14 "Password reset/creation form redirect"
The password reset/creation process still redirects the user to a form under oliverservices.org - should go to sproutservices.org ​

[2019-10-21 16:22] joemienko commented on #5
Some things that need to be made clear:

- Cancellations outside 24 hours are excluded
- Not all case data may be in Oliver
- Bad IDs may prevent some referrals from being included in a case summary

[2019-10-21 16:24] joemienko opened #15 "Need to display rejection reason history"
As a visit coordinator, I should see the rejection reason history for a referral, so that I can strategically select new providers based on past rejection reasons

[2019-10-21 16:27] joemienko opened #16 "Need special access for tribal members"
Tribal members should be granted access to DCYF referrals on cases to which they are assigned, but only those referrals.

[2019-10-21 16:31] joemienko opened #17 "Timeline resolution label"
should read "Referral manually resolved on:" instead of "Referral resolved on:"

[2019-10-22 19:48] joemienko opened #18 "Need to generate an read access log for all referrals and reports"

[2019-10-22 20:44] joemienko opened #19 "DCYF users should see referrals in routing orgs"

[2019-10-22 20:52] joemienko opened #20 "Visit coordinators need to be able access DCYF and other VC orgs"

[2019-10-22 20:53] joemienko opened #21 "Update visit report forms"

[2019-10-22 20:54] joemienko opened #22 "Add new VCs to the provider list"

[2019-10-22 21:00] joemienko opened #23 "Billing export pivot table tool"

[2019-10-22 21:13] joemienko opened #24 "Referrals are not unremovable when marked for litigation"

[2019-10-22 21:24] joemienko commented on #6
1 Referral
1 Provider
Only Approved Reports
zip file is ok

[2019-10-22 21:35] joemienko opened #25 "Need a report of DCYF providers"

[2019-10-23 17:37] yhtill commented on #6
- All report types

- Filterable by date -- ideally applies to the existing report list

[2019-10-23 20:19] yhtill commented on #24
Referrals marked (in XML) as under litigation should not be able to be removed, or have reports removed.

[2019-10-23 20:57] joemienko opened #26 "List of DCYF providers"
**Please describe the information you need in your report.**
David Sexton has requested a list of organizations that are 1. Active, and 2. Have a contracted relationship with the DCYF organization.

**Is your report request a one-time request, or a query that will be needed on-demand in the future?**

On-Demand

**Please describe the business need for your report.**
To audit providers with access

[2019-10-23 20:58] #25 closed

[2019-10-23 20:59] cssatmcfunk opened #27 "Sequester deprecated apps"

[2019-10-23 21:02] cssatmcfunk opened #28 "Update dependencies"

[2019-10-23 21:05] cssatmcfunk opened #29 "Revamp and improve testing"

[2019-10-23 21:06] cssatmcfunk opened #30 "Build Sprout admin tools"

[2019-10-23 21:07] cssatmcfunk opened #31 "Externalize shareable/reusable resources"

[2019-10-29 18:15] joemienko opened #33 "The list of potential providers is not informative/is overwhelming for VCs"
**Is your feature request related to a problem? Please describe.**
 I’m worried about the list of providers overwhelming the VC’s in Region 5 and eventually in 3, 4 and 6 once we add all of the CPAs. Their drop down list will get very long

**Describe the solution you'd like**
We would like VCs to be able to easily distinguish between CPAs and regular visitation agencies.

**Describe alternatives

[2019-10-31 20:04] joemienko commented on #15
Completed on 10/16.

[2019-10-31 20:04] #15 closed

[2019-10-31 20:18] joemienko commented on #21
These are the forms DCYF is looking to have updated.

[15-454 final.docx](https://github.com/cssat/sprout-issues/files/3795666/15-454.final.docx)
[15-451 final.docx](https://github.com/cssat/sprout-issues/files/3795667/15-451.final.docx)
[15-452 final.docx](https://github.com/cssat/sprout-issues/files/3795668/15-452.final.docx)
[15-450 final.docx](https://github.com/cssat/sprout-issues/files/37956

[2019-10-31 20:56] joemienko opened #34 "Banners disappearing on activity sort"
**Describe the bug**
The resolved banner is disappearing on activity sorts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Referral List
2. Sort by report activity
3. Resolved banner does not show

**Expected behavior**
1. Go to Referral List
2. Sort by report activity
3. Resolved banner does show

[2019-11-07 21:07] joemienko opened #35 "Begin integration of CIHS prototype with Sprout"
-- Need to begin work on CIHS integration with the main sprout app.

-- Testable prototype available here: https://sprout-test-uw-5.herokuapp.com/client

-- planning meeting set for Tuesday 11/12

[2019-11-07 21:11] joemienko opened #36 "Need to determine level of effort for FamLink - CIHS"
Need to meet with Neal, et al. to determine how easily a Family Time style xml generation process could be developed for Family Support Services

[2019-11-07 21:16] joemienko opened #37 "Need to determine level of effort for FamLink developers - Billing integration"
The rough process for Family time that has been discussed involved pushing data to SSPS. Most (maybe all) of the CIHS services are paid via A19. Need to meet with FamLink devs, and other relevant parties to determine level of effort required to make use of sprout activity data IOT automate billing.

[2019-11-07 21:25] joemienko opened #38 "Set ESIT kickoff meeting"

[2019-11-07 21:26] joemienko commented on #38
Need to set a meeting with substantial to scope the R&D phase of ESIT-DMS

[2019-11-07 22:58] joemienko opened #39 "Error Handling"
This is the list of errors that @yhtill verified as possible in the Sprout FamLink-push API as of last week.

- 400 Bad Request
- 401 Unauthorized
- 404 Not Found
- 500 Internal Server Error (Likely a database error)
- 503 Service Unavailable

[2019-11-07 23:13] joemienko opened #40 "Need to create a tribal read only organization."

[2019-11-07 23:15] joemienko opened #41 "Need to add a placement end reason field to the referral"

[2019-11-07 23:24] joemienko opened #42 "Minimum required fields are not intuitive"

[2019-11-08 20:43] sarahyatsko opened #43 "Need to Sort for Visit Reports Needing Review"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-08 20:47] sarahyatsko commented on #43
Large providers have requested that there be way to limit the view (via sort or filter) to referrals with reports that are needing review. This would greatly save time as current process requires that they click through dozens of pages to find the referrals with reports to review. For a large provider with dozens of reports to approve a day, this can take several hours a day.

[2019-11-13 22:18] #14 closed

[2019-11-14 19:52] joemienko opened #44 "There is no way for users to see a log of changes"
**Is your feature request related to a problem? Please describe.**
Currently, we do not have a way to easily notify users of changes in Sprout.

**Describe the solution you'd like**
We would like some sort of change log feature to help users check on recent changes when they are interested in doing so.

**Describe alternatives you've considered**
We have considered periodic emails and an expanded

[2019-11-14 19:57] joemienko commented on #39
Considering this request complete for now. Since these errors are not user facing, there doesn't seem to be a need to document these errors any further.

[2019-11-14 19:57] #39 closed, assigned to nobody

[2019-11-15 18:59] sarahyatsko opened #45 "Monthly Option for visits are not possible in Sprout or FamLink"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-15 19:32] sarahyatsko opened #46 "Delete Empty Referrals in Sprout"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-21 18:21] #46 closed, assigned to nobody

[2019-11-21 18:22] yhtill commented on #46
Users will be advised to remove empty referrals themselves.

[2019-11-21 18:47] yhtill commented on #42
Some fields are implicitly required in the input XML.  This should not be the case.

[2019-11-21 18:52] yhtill commented on #40
Once DCYF creates this org, we need to add read-only flag.

[2019-11-21 18:53] #38 closed, assigned to nobody

[2019-11-21 18:59] yhtill commented on #34
I'm still unclear on how to reproduce this.

[2019-11-21 19:28] yhtill commented on #26
This is already visible through Sprout UI.

[2019-11-21 19:28] #26 closed

[2019-11-21 19:31] #23 closed

[2019-11-21 19:41] yhtill commented on #21
Waiting for an updated visit referral form from DCYF.

[2019-11-21 19:45] #16 closed

[2019-11-21 19:47] #12 closed

[2019-11-21 19:51] yhtill commented on #11
Maybe this is better served by filtering by office?

[2019-11-21 19:53] yhtill commented on #4
Closing in favor of the milestone.

[2019-11-21 19:53] #4 closed

[2019-11-21 19:55] yhtill commented on #3
Possible dup.

[2019-11-21 19:55] joemienko commented on #11
This is better stated as "As a user, I should be able to select those referrals assigned to just "my office, etc.", so that I am not overwhelmed by the number of referrals I can see."

[2019-11-26 00:32] sarahyatsko opened #47 "Users cannot see Date of Referral Resolution on "Resolved" banner"
**Is your feature request related to a problem? Please describe.**
Providers are warned that a referral is nearing the resolve date starting at two weeks prior to the end date or 180 days from the start date. However, once the resolve date passes, it is difficult to know exactly when the referral was resolved.

**Describe the solution you'd like**
Add the resolve date (either the end date or the 1

[2019-11-26 00:37] sarahyatsko opened #48 "Visit supervisors do not know when they are Adding Visit Reports to Resolved Referral"
**Is your feature request related to a problem? Please describe.**
Providers have noted that visit supervisors are too often mistakenly adding a visit report to a referral that has been resolved.  They recognize that this is sometimes necessary, but that the ability to enter a report on a resolved referral is also a problem because many times it is done when the visit supervisor should be entering

[2019-11-26 19:24] sarahyatsko opened #49 "Users cannot see Date of New Referral on "New Referral" banner"
**Is your feature request related to a problem? Please describe.**
The user would like be able to see at glance when a referral dated.

**Describe the solution you'd like**
Put referral date in the green notification bar.

**Describe alternatives you've considered**
Train users to look at the authorized date in the bottom of the card, but this may not be the same date.

**Additional context**
Add

[2019-11-27 20:32] sarahyatsko opened #50 "Basic User Unable to Edit Timeline"
**Is your feature request related to a problem? Please describe.**
The visit supervisor is the one who is most familiar with a referral yet is unable to enter the following dates in the timeline because they have Basic User privileges.

- Schedule Confirmed On
- First Expected Visit Date
- Referral Resolved Date

**Describe the solution you'd like**
Allow a basic user to edit these fields.

**Desc

[2019-12-09 22:26] sarahyatsko opened #51 "Provider Missed Visits are showing in Billing Download"
**Describe the bug**
The current billing download includes data on all visits, missed and attended. A provider may bill for one hour of work for a visit where the child or parent No-Showed or cancelled within 24 hours of the visit. When a visit is cancelled, there is a field that asks who missed the visit. Visits missed by provider or child are not included in the total of missed visits for purpos

[2019-12-10 18:49] joemienko commented on #49
Related to https://github.com/cssat/sprout-issues/issues/49

[2019-12-10 18:50] joemienko commented on #49
Related to https://github.com/cssat/sprout-issues/issues/47

[2019-12-10 18:51] joemienko commented on #47
Related to https://github.com/cssat/sprout-issues/issues/49

[2019-12-10 18:51] sarahyatsko commented on #45
This already exists in ingested referrals.

[2019-12-10 18:51] #45 closed, assigned to nobody

[2019-12-11 20:57] sarahyatsko opened #52 "Provider Unable to Indicate Why They Are Resolving a Referral"
**Is your feature request related to a problem? Please describe.**
Providers sometimes need to resolve a referral unexpectedly. Most common reason is that they are unable to reach parent, but reasons could also include that parent was violent and provider no longer wants to work with them, or provider availability shifted and no longer staff able to supervise, etc. Currently, providers are instruc

[2019-12-13 21:50] joemienko opened #53 "Currently have limited support for testing and training on ingested referrals"
**Is your feature request related to a problem? Please describe.**
--Staging is the only Sprout environment in which non-production data can be sent to the Sprout API for testing or training purposes.

**Describe the solution you'd like**
--We would like the ability ingest training and test referrals from DCYF.

CSSAT PROPOSAL
--Point the windows service to usertest.sproutservices.org in the FamLi

[2019-12-17 18:24] #9 closed

[2019-12-17 18:25] #10 closed

[2019-12-17 18:32] joemienko commented on #22
Sarah has done this in prod, but not ut.

 Prod DB (and UT DB) changes needed to complete this issue.

@ariadnaeleni @oieeri26, this is the sort of thing that @yhtill thinks should be incorporated into admin-tools. @yhtill will explain more offline.

TODO
1. Sarah create UT accounts
2. Erik and Ari coordinate with Matt

[2019-12-17 18:58] joemienko commented on #17
@ariadnaeleni and @yhtill to meet and discuss resolution of this issue.

[2019-12-18 21:58] ariadnaeleni commented on #22
The routing information has been added for regions 2, 4, 3, and 6 (it already existed for regions 1 and 5) in production

[2019-12-23 23:28] #6 closed

[2019-12-23 23:28] #17 closed

[2019-12-31 18:28] joemienko opened #54 "Visit report downloads are currently stamped with the date of download."
**Is your feature request related to a problem? Please describe.**
Visit report downloads are currently stamped with the date of download.

**Describe the solution you'd like**
Visit report downloads should be stamped with the date of the visit (or the date of the incident, or the date the visit should have taken place).

[2019-12-31 18:58] #19 closed

[2019-12-31 19:00] joemienko commented on #21
We prefer to do this all as a single project.

Waiting on revised intake form from DCYF

[2019-12-31 19:05] joemienko commented on #27
Old Apps no longer appear in the UI
Removed much of the app-specific testing

More work to be done to complete in new year

[2019-12-31 19:13] joemienko commented on #40
Marshal and Ari completed this

[2019-12-31 19:13] #40 closed, assigned to nobody

[2019-12-31 19:30] joemienko opened #55 "Basic User Unable to Edit Intake Hours"

[2020-01-07 20:49] joemienko opened #56 "super admins within read only orgs cannot edit contract relations"
**Is your feature request related to a problem? Please describe.**
When users in read only orgs (i.e. DCYF) are granted super admin privs, they cannot edit contractual relationships, and probably other editable elements of referrals and reports.

**Describe the solution you'd like**
We would at least like super admins in read only orgs to have the ability to edit contracts. We may want them to edi

[2020-01-14 18:23] joemienko opened #57 "There is no FamLink push referral infrastructure for usertest"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-14 18:24] joemienko opened #58 "We cannot easily seed data to usertest"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-14 18:28] joemienko opened #59 "Current organization of providers in usertest is insufficient for training"
We need a constellation of hypothetical providers, users, and associated permissions that more closely matches the real world business processes in production.

[2020-01-14 18:58] joemienko opened #60 "Providers still show up in the registration dropdown after the provider's relationship with DCYF is terminated"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-14 19:03] joemienko commented on #20
Need to confirm with DCYF that this is still needed/desired.

[2020-01-21 19:47] joemienko opened #61 "Editable referral fields are not persisting (need to try to replicate behavior)"
**Describe the bug**
We expect that editable ingested referral fields will persist after they have been entered in Sprout. We have specific reports of referral visit location edits not remaining.

**Possible Causes**
- FamLink updates may be overwriting editable ingested referral fields (i.e. referral details).
- There may be a problem with actual state persistence in the application (i.e. the cha

[2020-01-21 19:49] yhtill opened #62 "Handling of mistaken user account creation or rejection needs to be improved"
Currently, if a user attempts to create an account in the wrong organization, or has an account request mistakenly rejected, we have to either make direct database changes or enact convoluted workarounds for the user to be able to create a new account using the same email as the broken request.
This is an all too common occurrence, and should be handled as such, rather than requiring extraordinary

[2020-01-28 00:18] sarahyatsko opened #63 "In the visit report list, User tasks are not clear due to Resume and View buttons being the Same Color"
**Is your feature request related to a problem? Please describe.**
When visit supervisors check the visit reports page, they scan the page for any reports they have not completed.  But since the VIEW and the RESUME buttons are the same color, they might miss a RESUME in a sea of VIEWs.

**Describe the solution you'd like**
The RESUME button is a contrasting color, which helps the admin users find

[2020-01-28 19:11] #62 closed, assigned to yhtill

[2020-01-28 19:17] #54 closed, assigned to nobody

[2020-01-28 21:30] cssatmcfunk opened #64 "Log Archiver Servers Need Cleanup, Monitoring"
**Describe the bug**
We are at risk for outages in log archiving

**Expected behavior**
* Build new instances of the log archive servers to validate the existing setup instructions and to bring them up to date with newer technologies
* Set up log rotation to ensure disk space does not run out
* Set up monitoring around disk space
* Set up monitoring for actual log archive operations (check against

[2020-01-29 18:14] sarahyatsko opened #65 "Incomplete List of Options for Who Missed Visit"
**Is your feature request related to a problem? Please describe.**
The options under the OBSERVATIONS tab on a visit report for a missed visit include only Child, Parent, Foster Parent, Social Worker and Provider.

Providers have shared that they would like a "Custodial Parent" option and an "Other" option.

If the child is living with bio mom and bio dad has a referral for visits, and bio mom pre

[2020-01-30 18:03] sarahyatsko opened #66 "Sprout client is not saving data"
**Is your feature request related to a problem? Please describe.**
Several recent Sprout tickets and comments from users reaching out to me directly include frustration around  losing data they have entered. This includes things like mileage and parts of visit notes. Users have mentioned being in spotty internet range when data loss occurred.

**Describe the solution you'd like**
An off line form

[2020-01-30 19:31] cdoran99 opened #67 "Screen capture version of the visit reports is not rendering onscreen items"

[2020-01-30 22:30] joemienko opened #68 "Social workers and VCs cannot see aggregate report data on referral cards"
The desire (per trainers) is to be able to see what UIRs and other reports display as a

Total count of reports

[2020-01-30 22:34] joemienko opened #69 "Workers cannot see state transition dates on the referral card"
Two dates of concern...

-- provider accepted
-- date of resolution

[2020-01-30 22:34] joemienko opened #70 "Users cannot see why a referral was resolved (on manual resolution)"

[2020-01-30 22:36] joemienko opened #71 "Providers cannot see the date that a referral was requested"
Providers would like to see the date a referral was requested, and ideally a countdown (or something like that) to 24 hours

[2020-01-30 22:39] joemienko commented on #70
We would like this to be a required field (As it should be for the rejection reason)

[2020-01-30 22:45] joemienko opened #72 "VCs cannot edit visit notes once the referral leaves their organization"

[2020-02-04 16:14] joemienko commented on #65
It may be worth thinking about how we could dynamically populate this dropdown with visit participants and foster parents.

- Visit participants could come from Sprout.
- Foster parents could come from FamLink

[2020-02-04 16:15] joemienko commented on #65
@sarahyatsko Why do we need information from DCYF on this one?

[2020-02-04 16:16] joemienko commented on #64
@yhtill @cssatmcfunk When this is complete, it would probably be good to write a brief post-mortum to make clear where we've had spotty log coverage

[2020-02-04 16:29] joemienko opened #73 "Organization famlinkId field is typically missing or invalid"
**ISSUE**: We currently have no straight-forward way of mapping famlink PROVIDERS to Sprout ORGANIZATIONS. The `famlinkId` field within `organizations` in Sprout could meet this need, but the field has been abused over the years.

DCYF would like to be able to easily link DCYF organizations to FamLink providers for reporting, etc.

**IMMEDIATE TASK**: Someone with FamLink access _**and**_ `superad

[2020-02-04 16:32] joemienko opened #74 "SACWIS Organization ID is mislabeled in the Organization form"
We need to make a label change in the Sprout organization form...

 should be changed to

This change is to support the issue outlined in #73

[2020-02-04 16:37] joemienko commented on #58
This is a dup of #53

[2020-02-04 16:37] #58 closed, assigned to nobody

[2020-02-04 16:40] joemienko commented on #51
@jooreea will be writing an interim replacement extract for the billing download and @sarahyatsko will support invoicing for all non-FIN providers.

Labeling this as do not fix and closing

[2020-02-04 16:40] #51 closed, assigned to nobody

[2020-02-04 16:52] sarahyatsko commented on #65
@joemienko Put DCYF on here to be on the safe side - in case they needed to weigh on on who they think should be included as options for a missed visit.

[2020-02-04 16:58] joemienko commented on #67
The stated issue here is that the visit report check boxes are non distinguishable when using the browser print feature.

The screen grab below shows the print preview of visit report with "all boxes checked" in the application, but not indication of having been checked in the printed version of the report.

<img width="622" alt="Screen Shot 2020-02-04 at 8 51 45 AM" src="https://user-images.githu

[2020-02-04 17:17] joemienko opened #75 "Create a data extract for billing support"
@jooreea to create a report that matches the current billing extract, but does not have some of the bugs present in the existing report (e.g. #51).

@sarahyatsko will use this report to manually create invoices for providers until we are able to integrate billing with sprout/famlink.

[2020-02-04 17:18] joemienko commented on #75
@jooreea @sarahyatsko, I believe this is done based on sidebar convos with both of you. Please re-open the issue if I am mistaken.

[2020-02-04 17:18] #75 closed, assigned to jooreea, sarahyatsko

[2020-02-04 18:59] joemienko commented on #2
Existing PR pending review by @yhtill

[2020-02-04 19:07] joemienko commented on #72
This is not an issue.

Service admins can edit visit notes (not basic users).

@yhtill suspects that this is an issue of the VC and the provider not having the same region

@sarahyatsko will confirm that this is the case in the UI

[2020-02-04 19:16] #64 closed, assigned to cssatmcfunk

[2020-02-04 19:52] joemienko commented on #68
if this issue can be resolved by simply giving counts, this can be added to the queue usability epic.

[2020-02-04 21:08] joemienko commented on #34
This has been reproduced and is waiting to be picked up by the engineering team

[2020-02-04 21:12] joemienko commented on #41
As 1/23, this was still being tested by @jesse.

We will need confirmation that the new XML is being pushed (or a sample of what the XML will look like) before we get started on this.

[2020-02-06 18:33] joemienko opened #76 "region concept is causing problems for VCs"
Email conversation from Cameron below

[2020-02-06 18:35] yhtill opened #77 "Several actions are inappropriately tied to region"
Visit coordinators can't perform some actions on referrals after they have been assigned, if the assigned org is in a different region than the VC.

These actions include:
* Editing referral notes
* Removing the referral

[2020-02-06 18:37] #77 closed, assigned to nobody

[2020-02-06 20:33] sarahyatsko opened #78 "No fields in Sprout for visit pick up and drop off times"
**Is your feature request related to a problem? Please describe.**
Social workers need to know what the pick up and drop off times are for a visit - not just when the visit itself is scheduled.

(As an aside - this information is on the Intake Form - but it is not in Sprout - so these fields are blank on the downloaded Intake form.)

**Describe the solution you'd like**
Have these fields added to

[2020-02-06 21:31] yhtill opened #79 "We are paying Aptible for resources allocated beyond our base"
For the period of Dec 17 - Jan 17, we incurred $455.32 in charges for resources utilized beyond our base allocation.  Since then, we have added more resources.

We could potentially cut these costs by identifying and reducing un- and under-utilized resources.

[2020-02-06 22:53] joemienko commented on #7
Deanna said that she will talk with David and get back to us.

[2020-02-06 23:18] joemienko commented on #41
Per Jesse this will be in the XML on February 7. No longer being blocked by DCYF.

[2020-02-08 01:32] sarahyatsko opened #80 "Ability to Add a Second Visit Supervisors on a Visit Report is Confusing"
**Is your feature request related to a problem? Please describe.**
Visit supervisors are frequently misusing the Add Visit Supervisor button on the visit report.

**Describe the solution you'd like**
Eliminate the button

**Describe alternatives you've considered**

I will ask FIN if this button is useful.

I am trying to think of a scenario where a second visit supervisor is needed. If there are

[2020-02-11 21:45] joemienko opened #81 "users with multiple records with the same email in the Users table cannot reliably login"
This is related to the login issues experienced by multiple VCs in R6 on 2/11

[2020-02-11 21:54] joemienko commented on #24
litigation flag now sending

[2020-02-11 21:55] joemienko commented on #20
Confirmed on 2/4 that this is still desired behavior - returning to active backlog

[2020-02-12 19:00] yhtill opened #82 "We have no environment in which to conduct usability testing"

[2020-02-12 19:47] jessicamorris64 opened #83 "create a field to display Trial Return Home on the UI under child info section"
create a field to display Trial Return Home on the UI under child info section. this just needs to be a display fields that only shows what is sent from FamLink. this is not editable by anyone and will be updated in the nightly batch.
this is a priority as providers need to know where to find the child for pick-up and Drop-off. they have been rejecting referral because they don't know where to fin

[2020-02-13 23:12] jessicamorris64 opened #84 "all printable documents are downloaded into Word, not PDF"
Due to Security and potential litigation issues, We need to have all documents that are downloadable and or printable in PDF format so they can not be edited.
edits to these documents put DCYF in a vulnerable security state.
ask Jessy and Deanna for additional requirements questions.

____________________________________________________________
**Is your feature request related to a problem? Pleas

[2020-02-18 22:55] joemienko opened #85 "Sprout training is not mandatory for DCYF social workers"
Deanna has agreed to make training mandatory for all DCYF users.

[2020-02-20 20:05] sarahyatsko opened #86 "No Way to Filter Referral List by Visit Coordinator"
**Is your feature request related to a problem? Please describe.**
Visit Coordinators need to be able to filter their referral list for referrals assigned to them. This is a problem because filtering by their office will not show any referrals that has come to their region from another region. But if they assign themselves as the VC on all new referrals, then they can search for themselves and a f

[2020-02-25 16:46] joemienko commented on #86
@yhtill in your referral list project, are you including Visit Coordinator assignments (i.e. assignments via `resourceSpecialistId`) in the assignment filter that you had demoed?

If so, it seems like this is another issue that should get assigned to you and lumped into that larger set of features.

[2020-02-25 16:46] joemienko commented on #86
@yhtill in your referral list project, are you including Visit Coordinator assignments (i.e. assignments via `resourceSpecialistId`) in the assignment filter that you had demoed?

If so, it seems like this is another issue that should get assigned to you and lumped into that larger set of features.

[2020-02-25 16:50] joemienko commented on #76
Additionally, this appears to be causing problems for a VCs ability to view Users (or any details beyond an org summary page) if their region does not match the region of the contracted Org.

[2020-02-25 17:12] joemienko commented on #81
This was resolved with a fix the same day that the issue was raised.

[2020-02-25 17:12] #81 closed, assigned to cssatmcfunk

[2020-02-25 17:31] joemienko opened #87 "OIAA does not have access to the replica DB"
Email sent on 2/25

Plan is to set Jason up with standard 2FA access to start.

We will provide non-MFA access to a production account once needed.

Access will be limited to a curated schema which excludes sprout records from outside of DCYF.

[2020-02-25 17:41] joemienko commented on #73
Some combination of the assigned crew needs to come up with a plan to enter FamLink provider IDs into sprout as noted above.

[2020-02-25 17:45] joemienko commented on #65
Some combination of the three of us need to decide what we want this to look like.

[2020-02-25 17:53] joemienko commented on #79
@yhtill  - between the two of us, I fear that we have already expended the potential overspend in state resources in the time that has taken to think about this.

I am closing this, but tagging you here so you'll be notified. Feel free to reopen this if you'd like.

[2020-02-25 18:29] joemienko commented on #72
Probably linked to #55 #50

[2020-02-25 18:55] joemienko commented on #66
This is an umbrella issue - likely an EPIC. Much of the issues in the umbrella could be solved by transition to PWA.

[2020-02-25 19:33] joemienko commented on #79
From Matt in Slack

Reopening to discuss how we want to triage the cleanup of aptible moving forward

[2020-02-25 22:48] joemienko opened #88 "We cannot distinguish between CPA and non-CPA orgs in Sprout"

[2020-02-25 22:49] joemienko opened #89 "We do not have guidance to all tribes regarding the use of Sprout"
Deanna will communicate to Bob Smith

Jolene & Shannon has already made this communication to several tribes

All of R6 has been invited
All of R5 has been invited

[2020-02-25 22:56] joemienko commented on #2
Someone at CSSAT needs to provide a list of person names and email addresses for the DCYF org.

Jessy will take this list and figure out a method to join the information to famlink person ids.

CSSAT will then enter the joined list

[2020-02-25 22:58] joemienko commented on #73
CSSAT to provide Jolene with a list of provider names, locations, and other relevant information

Jolene to scrub that against Famlink to get FamLink Provider IDs

CSSAT to enter Jolene's list into Sprout

[2020-02-29 00:42] sarahyatsko commented on #21
Adding the Referral Form and the Visit Notes (Report?) form as sent to me today by Deanna Morrison.

[Family Time Referral Feb 2020.docx](https://github.com/cssat/sprout-issues/files/4269730/Family.Time.Referral.Feb.2020.docx)
[Family Time Visit Notes Feb 2020.docx](https://github.com/cssat/sprout-issues/files/4269731/Family.Time.Visit.Notes.Feb.2020.docx)

[2020-02-29 00:46] jessicamorris64 commented on #21
Thanks Sarah

From: sarahyatsko <notifications@github.com>
Sent: Friday, February 28, 2020 4:43 PM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cssat/sprout-issues] Update visit report forms (#21)

Adding the Referral Form and the Visit Notes (Report?) form

Family Time Referral Feb 2020.docx<https://github.com/cssat/sprout

[2020-02-29 00:49] sarahyatsko commented on #7
Note from David Sexton - FIN should not be able to add visit participants - so some discussion is needed to determine whether or not there's needs to be a VC role within DCYF to do this in Regions 1 and 2.

[2020-02-29 00:51] sarahyatsko commented on #7
Also, a concern expressed by Jolene was included in an email from Jessy:

Jolene did have a comment about this, that made her a bit nervous. When she was a supervisor her staff would occasionally approve things she did not agree to, and she is a little worried about them telling VC’s it’s ok to add people without a supervisor’s knowledge. Just something to think about. But I also do not like the t

[2020-03-03 17:15] #30 closed

[2020-03-03 17:56] cssatmcfunk commented on #79
This falls into basically two buckets:

- General cleanup of old containers and endpoints that are effectively unnecessary

- Finalizing the switchover to sprout from oliver via setting up redirects and then discontinuing the oliver endpoints

[2020-03-05 18:09] joemienko commented on #83
-- Confirmed that this is on the XML coming from FamLink presently.

[2020-03-05 18:12] joemienko commented on #84
@jessicamorris64 @Deanna1968....

We need to determine whether or not this is a priority independent of the redesign of all printable forms that needs to take place --> #21

[2020-03-05 18:22] joemienko commented on #88
@Deanna1968 ,

Can you clarify the long-term plan for CPAs WRT family time contracts?

Our understanding is that you are working everyone toward the "Amara" model - a model in which CPAs will be allowed to supervise visits, but they will be required to have a regular Family Time contract in order to supervise visits. Under that model, however, they will not be restricted to supervising visits for

[2020-03-05 18:24] joemienko commented on #89
@Deanna1968, Has this happened?

IOW, Can we consider this done?

[2020-03-05 18:27] joemienko commented on #80
@Deanna1968  - Do we want to support multiple visit supervisors on the same visit (particularly, from an invoicing perspective)?

[2020-03-05 18:35] joemienko commented on #73
This is 95% complete. @sarahyatsko to finish later today...

We still need a policy in place for when new organizations are created in Sprout, DCYF needs to provide the creator with a valid FamLink provider ID.

@Deanna1968 @jessicamorris64, CSSAT is still responsible for creating all orgs. Who is the DCYF point of contact for provider IDs?

[2020-03-05 18:37] Deanna1968 commented on #89
HI Joe,

I am thinking we can consider this done. go ahead and close!!

[2020-03-05 18:39] joemienko commented on #68
Per Shannon 1-2 weeks ago...

This issue will be satisfied by (on the referral card)

1. Providing SW users with a total count of approved reports, and
2. Providing SW users with a total count of approved UIRs.

The current plan to implement this will make these counts available to all users - not just SWs...

[2020-03-05 18:41] Deanna1968 commented on #88
Hi

That is correct!  CPAs will not be any different than other providers in Sprout as long as they have a family time contract!

I am doing good here! of course I have a little blue girl birdy with the name Jessi helping me!!

[2020-03-05 18:51] joemienko commented on #21
We need to add this to our "form management/rendering" epic

[2020-03-05 18:54] joemienko commented on #22
This needs to be broken into multiple tasks....

1. Related to connections between FamLink environments and Sprout (this is what we need DCYF help with)
2. Related to a more robust set of orgs and regions in usertest (to meet the purpose of demos, training, and other purposes)

[2020-03-05 18:57] joemienko commented on #65
@Deanna1968 ,

Do you have a specific list of individuals who are 1. At fault for a missed visit, and 2. What the reason for missing is?

[2020-03-05 21:51] joemienko commented on #88
@Deanna1968 Killer - Thanks!

I am going to close this as wont fix then.

[2020-03-05 21:51] #88 closed, assigned to nobody

[2020-03-05 21:56] joemienko commented on #53
Remaining issues are duplicative of #57

[2020-03-05 21:56] #53 closed, assigned to joemienko

[2020-03-05 23:00] joemienko opened #90 "visit location is editable"

[2020-03-05 23:01] joemienko opened #91 "visit location is editable"

[2020-03-05 23:01] joemienko opened #92 "visit location address is required"

[2020-03-05 23:01] #90 closed, assigned to nobody

[2020-03-12 17:32] #89 closed, assigned to nobody

[2020-03-12 17:38] joemienko commented on #2
--Jolene has sent the list of workers.

--Jooree is joining to Sprout Users

--Marie B. will be entering the referral IDs into Sprout on the basis of the join.

[2020-03-12 17:42] joemienko commented on #2
--Work to date constitutes one part of the resolution of this issue (identifying the worker by an external key, and restricting access to the details of a referral).

-- Remaining work will involve restricting the list of referrals to those who have access. This is included in @yhtill's referral list epic

[2020-03-12 18:00] joemienko commented on #21
@cssatmcfunk The following list references file names above. These are the most recent forms received from @Deanna1968.

15-363B - Intake Screening Report
Family Time Referral Feb 2020.docx - Referral Report
Family Time Visit Notes Feb 2020.docx - Visit Report (Regular)
15-452 - Sibling Visit Report
15-451 - Missed Visit Report
15-454 - UIR Report

Ensure that none of the forms have DCYF form numb

[2020-03-12 18:08] joemienko commented on #84
Per conversation with @jessicamorris64 & @Deanna1968 last week, getting PDFs should be considered an independent priority.

PDF generation to be worked on in conjunction with #21 by @cssatmcfunk

[2020-03-12 18:10] joemienko commented on #61
@yhtill  - I believe this will be fixed by the resolution of #91 and #92.

Closing for now, but feel free to re-open if you disagree.

[2020-03-12 18:10] #61 closed, assigned to nobody

[2020-03-12 18:26] joemienko commented on #7
Per @Deanna1968 guidance from last week, we no longer want this functionality.

New participants require a new referral.

[2020-03-12 18:26] #7 closed

[2020-03-12 19:12] joemienko commented on #41
@oieeri26 - The desired resolution of this issue is as follows:

Within `childPlacedInfo`, in the ingested referrals, we should be receiving a placement end reason from the ingested XML.

The referral end reason should be specifically located in the `visitPlan/CHILDREN_PLACED/childPlacedInfo` section of the XML.

The placement end reason needs to be

1. Added to `root/childPlacements` on the refer

[2020-03-12 22:53] joemienko commented on #2
per @jessicamorris64, we need to hold off on "full implementation" of this change until further conversations/requirements are gathered from the field.

It's possible that we may need to give more than one SW access per case.

As of today, I advised Jessy that we could continue to enter the social worker Person IDs, flag the relevant users as social workers, and then hold off on flagging the DCYF

[2020-03-12 23:08] joemienko opened #93 "Visit supervisors can complete a visit report without all information"

[2020-03-12 23:19] yhtill commented on #2
I may be misunderstanding what you're proposing, but you should know that you can't enter IDs for SWs, or even designate user accounts as belonging to SWs, without first designating the user's org as a SW org.

[2020-03-14 16:59] joemienko commented on #41
@oieeri26 - Update to the above...

It looks like DCYF is going to do the work of determining TRH for us. IOW, there is going to be a TRH flag provided in the XML, not a placement end reason...

Also, the TRH flag is going to be in the Child Details section of the XML, not the Placement Information.

Thus (I think) you are going to want to update the child details transformer here: `sprout/api/api

[2020-03-14 23:54] joemienko commented on #41
@oieeri26  - Update per John's email earlier today,

The XML value will be one of the following 4 values:

1. `<TRIAL_RETURN_HOME />`
2. `<TRIAL_RETURN_HOME>Trial Return Home - Mother</TRIAL_RETURN_HOME>`
3. `<TRIAL_RETURN_HOME>Trial Return Home - Father</TRIAL_RETURN_HOME>` or
4. `<TRIAL_RETURN_HOME>Trial Return Home – Legal Guardian</TRIAL_RETURN_HOME>`

Obviously, 2-4 imply a TRH event, our dir

[2020-03-16 15:30] joemienko commented on #41
@oieeri26 - Documenting here that John answered question 2 for @jessicamorris64 as well.

The XML value is dynamic - it can switch between any of the four values above.

Values 2-3 are an indication that the visit supervisor should look to the parent address for the child's current location.

Value 1 is an indication that the child is in the care of the listed foster parent.

[2020-03-17 17:13] joemienko opened #94 "Visit supervisors cannot properly classify visits missed due to COVID-19"

[2020-03-17 17:15] joemienko commented on #94
@Deanna1968, @jessicamorris64  - Should we just make this change instead of walking through the full UAT process?

[2020-03-17 17:18] sarahyatsko commented on #94
Email from Jamie Chestnutt

![image001](https://user-images.githubusercontent.com/49733235/76882715-4bf49980-6838-11ea-9730-fae84b769130.png)
Hi Deanna and Sarah,

With all the issues surrounding COVID-19 can we request that you add to the missed/cancel report dropdown under “cause”. It would be great to have COVID listed as its own option, instead of using illness since this is a specific issue.

[2020-03-17 17:36] joemienko commented on #55
Allowing the basic user to edit intake hours is necessary but not sufficient.

We should be able to determine who did the work of intakes.

**Specific problems to be addressed:**

1. There is no way to indicate who completed an intake,
2. There is no way to decide who gets paid for an intake,
3. The individual's doing the "intake work" cannot, themselves, make a record of a. the hours spent doing

[2020-03-17 17:40] joemienko commented on #93
There is a desire from provider users to prevent the submission of visit reports for approval without all required information.

[2020-03-19 00:23] sarahyatsko opened #95 "VC's are able to delete referrals after a visit report has been entered"
**Describe the bug**
A VC is able to delete a referral even if that referral has started or completed visit reports entered.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as  VC
2. Click on Referral Details for a referral with visit reports
3. Click "delete" visit report
4. Click ok on warning message

**Expected behavior**
I would expect a VC to be unable to delete a referral with

[2020-03-19 00:37] sarahyatsko opened #96 "Visit Coordinators (Region Admins) are Unable to View Visit Reports outside their Region"
**Describe the bug**
When a Region Admin in Sprout opens a referral and attempts to view a visit report completed by an organization from a different Region in Sprout, the Region Admin gets a "404" error message

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a VC/Region Admin
2. Open a referral that is in the vault of an organization in a DIFFERENT region from the VC/Region Admin'

[2020-03-19 17:12] joemienko commented on #76
This issue is linked to #96

[2020-03-19 17:13] joemienko commented on #96
This is a dup of #76

[2020-03-19 17:13] #96 closed, assigned to nobody

[2020-03-19 17:15] joemienko commented on #76
In addition to the issues outlined in #96, the region concept is causing issues for

-- VCs being able to see organizational details
-- VCs being able to see visit reports
-- Edits to referral notes (VCs appear to be able to edit, but are then getting an error banner on save)

[2020-03-19 17:22] joemienko commented on #95
This is a feature, not a bug.

DCYF has made separate requests to limit delete functionality (see #24).

Need to determine how widely DCYF wants to prevent deletion of referrals.

@Deanna1968 @jessicamorris64 ??

[2020-03-19 17:37] Deanna1968 commented on #95
My thoughts are that the delete feature should only be available if the referral has not been assigned, other than to the VC. If the VC does delete the referral because it was a in error or a duplicate then deleting is warranted and they have to write why in the comment box.  In other words, the delete function can not be completed unless they write something in the comment box. If the visit refer

[2020-03-19 17:54] jessicamorris64 commented on #95
Deanna I think this sounds great! And 100% what I would suggest ☺

From: Deanna1968 <notifications@github.com>
Sent: Thursday, March 19, 2020 10:38 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morris, Jessica (DCYF) <jessica.morris@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cssat/sprout-issues] VC's are able to delete referrals after a visit report has be

[2020-03-19 18:00] Deanna1968 commented on #95
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] VC's are able to delete referrals after a visit report has been entered (#95)
   Sent: March 19, 2020 11:00:36 AM, PDT

ACTIVATION INFORMATION:

The State of Wash

[2020-03-31 17:10] joemienko opened #97 "Visit Report visit types do not allow for categorizing visits according to their "virtual" nature"
DCYF wants more visit type categories for the Visit Type dropdown in the visit reports (attended and missed).

The attended visit report is as follows:

![Screen Shot 2020-03-31 at 10 00 02 AM](https://user-images.githubusercontent.com/37134346/78054814-76b21800-7337-11ea-97c8-e2702b792458.png)

The total set of visit categories should include:

-- Monitored
-- Supported Visitation
-- Supervised
-

[2020-03-31 17:44] joemienko commented on #97
@Deanna1968 , @jessicamorris64 , at our triage meeting this morning.

@yhtill suggested it would be preferable to simply add a "Virtual" flag to the form instead of adding to the dropdown.

Any objection to this?

[2020-03-31 17:49] jessicamorris64 commented on #97
I don’t object to this, but it’s up to Deanna.

From: joemienko <notifications@github.com>
Sent: Tuesday, March 31, 2020 10:45 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morris, Jessica (DCYF) <jessica.morris@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cssat/sprout-issues] Visit Report visit types do not allow for categorizing visits according to their "

[2020-03-31 17:49] Deanna1968 commented on #97
sounds good,  clearly it will provide what Ross is looking for as in data, correct?

[2020-03-31 17:50] Deanna1968 commented on #97
I don’t object.

From: joemienko <notifications@github.com>
Sent: Tuesday, March 31, 2020 10:45 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morrison, Deanna (DCYF) <deanna.morrison@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cssat/sprout-issues] Visit Report visit types do not allow for categorizing visits according to their "virtual" nature (#97)

@Deann

[2020-03-31 19:31] yhtill commented on #97
Here's what the flag looks like:
![image](https://user-images.githubusercontent.com/20548990/78067379-7c195d80-734b-11ea-905e-d3a4187d8e8c.png)

[2020-04-01 21:03] #97 closed, assigned to yhtill

[2020-04-03 06:00] Deanna1968 commented on #95
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] VC's are able to delete referrals after a visit report has been entered (#95)
   Sent: March 19, 2020 11:00:36 AM, PDT

ACTIVATION INFORMATION:

The State of Wash

[2020-04-14 17:55] joemienko commented on #42
@yhtill

1. What are these fields?
2. Is this an issue we still want to resolve?
3. What is the desired behavior?

[2020-04-14 18:08] joemienko commented on #55
Sarah and Joe both feel that option 2 is the preferred approach.

Marshal suspects that option 1 would be more difficult.

[2020-04-14 18:10] joemienko commented on #55
Before work starts on this, we need a detailed design session and business process decomposition with @sarahyatsko

[2020-04-14 18:13] yhtill commented on #42
1. I don't know any more -- the heart of this issue is that some of the XML parsing code inherently does not tolerate blank or missing fields in the input XML, not by design, but because the code is brittle.  I discovered this fact when we were attempting to build a canonical "minimal" XML referral as part of a manual migration process (if I recall correctly).  Basically, I started with an XML doc

[2020-04-14 18:15] joemienko commented on #57
Per triage meeting discussion...

Our "usertest" env should be renamed to "training" (or something to that effect).

[2020-04-14 18:30] joemienko commented on #80
We need to identify the "primary" visit supervisor on a visit report

We need to follow-up with providers to determine the best design approach.

[2020-04-14 18:35] joemienko commented on #93
We need to consult with providers on the desired behavior.

[2020-04-14 18:38] joemienko commented on #94
@Deanna1968 @jessicamorris64  - Any additional thoughts on whether or not we should do this?

[2020-04-14 18:42] joemienko commented on #95
Could we potentially look at eliminating the ability for VCs to delete anything?

With the new filtering functionality, we could potentially have VCs resolve referrals instead of deleting them.

[2020-04-14 18:57] Deanna1968 commented on #95
This sounds better than having them delete.

Deanna

From: joemienko <notifications@github.com>
Sent: Tuesday, April 14, 2020 11:43 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morrison, Deanna (DCYF) <deanna.morrison@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cssat/sprout-issues] VC's are able to delete referrals after a visit report has been entered (#9

[2020-04-14 23:25] jessicamorris64 commented on #95
i think it would be ok to have them resolve instead of delete as long as they can put in a reason as to why they are resolving, such as duplicate or made in error.

[2020-04-15 18:46] yhtill opened #98 "Bulk report download sometimes produces invalid zip files"
**Describe the bug**
When downloading visit and UIR reports for a time range, sometimes the resulting zip file cannot be opened, as Windows reports that it is invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://uat.sproutservices.org/visitation/referrals/14331/reports
2. Click on Download
3. Try to open resulting file
4. See error

**Expected behavior**
Downloaded zips sho

[2020-04-17 18:00] Deanna1968 commented on #95
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] VC's are able to delete referrals after a visit report has been entered (#95)
   Sent: March 19, 2020 11:00:36 AM, PDT

ACTIVATION INFORMATION:

The State of Wash

[2020-04-21 17:25] sarahyatsko opened #99 "Missed visit counter counts against parent when reason is tech issues"
**Is your feature request related to a problem? Please describe.**
When a remote visit does not happen because parent does not have a device or internet or the app does not work, the provider lists the parent as the party that caused the missed visit  on the Missed Visit report and then chooses the new item of technical issues in the reason drop down.  However, providers are then surprised to see

[2020-04-29 21:34] jessicamorris64 commented on #21
Marshall loaded revised forms to UAT on 4/28 they were reviewed on 4/29 by Shannon and Jolene.
there appear to be some fields missing that are required in order to meet the needs of the discovery and disclosure staff. also some formatting changes outlined in the attached word document.
this will also need to be produced in PDF version and not word.
Marshall has reviewed the document and is current

[2020-04-29 23:03] jessicamorris64 opened #100 "VC's have too much access to visit reports"
this is occurring in production
**Describe the bug**
Visit Coordinators due to a bug are currently able to do the following:
- Add Reports to a Referral
- Delete Reports on a Referral
- Move reports from on Referral to another Referral, this could even be in a different case
- They can see reports that are in Review & Resume status
- Info tiles display telling them #’s of reports that need to be r

[2020-04-29 23:25] jessicamorris64 opened #101 "Resolved referrals have old reports that have not been approved, are not included in reports"
**Is your feature request related to a problem? Please describe.**
There are quite a few resolved referrals that have reports that are in the resume or finalize status.  Making them not displaying for our staff and would skew the data on number of reports and reports not attended.  Additionally, these in progress reports are not visible to our social workers, public disclosure and discovery staff,

[2020-04-30 18:55] joemienko commented on #100
@jessicamorris64 - We discussed this in our morning triage meeting. From the email thread, it sounds like there is also a desire to lock down VC permissions more generally (i.e. ability to edit referrals after assignment, etc.) (see #95)

We were thinking that it would make sense to have @Deanna1968 take a look at the table of roles and permissions here: https://docs.google.com/document/d/1c-FkR4o

[2020-04-30 19:58] joemienko commented on #21
@Deanna1968

The attended visit reports are ready for acceptance, other printable forms will be ready for acceptance soon. For the attended please

1. see the following user story

_As a Sprout user/stakeholder with access to attended visit reports, I want to see all available information on printed/downloadable visit reports, so that viewers of the visit reports without access to sprout can see a

[2020-04-30 20:42] joemienko commented on #41
@Deanna1968 -

We believe that this issue has been resolved and is ready for acceptance.

1. Please see the following user story

_As a Sprout user, I want to know when a child on a referral has been placed back in the home of their parents under a trial-return-home (TRH) so that I can look at the parent’s address on the referral, and determine the child’s current location._

2. Please confirm the

[2020-04-30 20:43] joemienko commented on #48
@Deanna1968 -

We believe that this issue has been resolved and is ready for acceptance.

1. Please see the following user story

_As a Sprout user, I want to know when a referral has been resolved after I open it, so I don’t inadvertently enter a visit report on a resolved referral._

2. Please confirm the following acceptance criteria for this story
**Given**: that a referral is resolved
**And**

[2020-04-30 21:30] joemienko commented on #101
- Thoughts from @sarahyatsko are to propose a cleanup of resolved referrals after the filter list epic is deployed
- Also, explore this as a provider report needed "to do your job" (@joemienko  to follow up with Barb G.)
- Could potentially reveal unapproved report counts to social workers

[2020-04-30 21:56] joemienko commented on #100
- @sarahyatsko @jessicamorris64 @Deanna1968 will meet to discuss this required permissions for VCs
- @cssatmcfunk will work to get the report epic completed by next week. Wednesday would be ideal.

[2020-05-06 01:52] sarahyatsko opened #102 "Missed visit counter in the referral summary feature is confusing users"
**Is your feature request related to a problem? Please describe.**
The counter on the summary page for missed visits includes ALL missed visits, including any visits missed by the child, foster parent, provider, etc. When provider - and likely social workers - view this total, there is an assumption made that this is the number of visits missed by the parent.

Note that the missed visit counter th

[2020-05-06 22:16] sarahyatsko opened #103 "Visit report location is preventing reports from being saved"
**Describe the bug**
If the Visit Location in the Visit Report does not have an address, the Service Admin or Org Admin at a provider agency is unable to approve a visit report.  The visit location field is auto-populated with information from the referral  and this is often incomplete, creating an error message for the Basic User. However, the Basic User can submit the report to their supervisor,

[2020-05-07 21:31] Deanna1968 commented on #48
HI Joe,

I am trying to get into Github.  I having trouble with my password.  But this is correct below.   Can you enter my comment into Github.

Sorry
Deanna

From: joemienko <notifications@github.com>
Sent: Thursday, April 30, 2020 1:44 PM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morrison, Deanna (DCYF) <deanna.morrison@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Sub

[2020-05-07 22:10] Deanna1968 commented on #21
I don't accept this feature as the form is not completed.

Deanna Morrison

[2020-05-07 22:27] joemienko commented on #21
@cssatmcfunk - @Deanna1968 can't accept this until we add the remaining fields. See the email from Shannon

[2020-05-11 23:32] sarahyatsko opened #104 "Maintenance page should not be displayed in error conditions."
**Describe the bug**
When user in a routing organization attempts to download a billing file, they are taken to a confusing error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Log on to a VC org
2. Go to My Organization
3. Click on DOWNLOAD button and enter dates
4. See error page

**Expected behavior**
An error page that says something like, "you have tried to perform a task that yo

[2020-05-12 23:23] Deanna1968 commented on #48
The story is correct and accepted!  Please go forth and conquer!

[2020-05-14 17:40] joemienko commented on #21
As of today, we believe that all fields have been added.

The following forms are ready for acceptance:

1. Attended Visit Reports
2. Missed Visit Reports
3. Sibling Visit Reports
4. UIR

@Deanna1968, Please review each of these forms according to the acceptance criteria above.

Need to talk at our check-in today about how to proceed with

1. The referral form, and
2. The intake form.

Regarding t

[2020-05-14 17:53] joemienko commented on #48
@cssatmcfunk  - This is ready for production

--> Need to check-in with the group about how to proceed in sequencing the push of accepted features to production.

[2020-05-14 18:00] joemienko commented on #41
@Deanna1968 & @jessicamorris64 - We still need to have this accepted.

@sarahyatsko - It probably makes sense for you to check on this from the provider perspective as well.

@jessicamorris64 - I believe you moved a child to TRH in your FamLink UAT environment. Can you please advise @Deanna1968 (over secure email, if it is a real child) what Sprout referral she should be looking for to accept this

[2020-05-14 18:07] Deanna1968 commented on #21
Joe,

super dumb question....were am I suppose to review them at?  In Sprout or ......sorry, you computer and tech wizards get me every time!  OR If I am to accept how they are listed above...I accept!

sorry

[2020-05-14 18:08] nelsosd commented on #21
Deanna, we’re reviewing them in Sprout UAT.

Shannon Nelson, MSW/IT Technology Trainer
Technology Services
253-380-5273<tel:253-380-5273>/ Shannon.nelson@dcyf.wa.gov<mailto:Shannon.nelson@dcyf.wa.gov>
[cid:image003.jpg@01D53D58.43DF9440]<http://www.dcyf.wa.gov/>

From: Deanna1968 <notifications@github.com>
Sent: Thursday, May 14, 2020 11:08 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.

[2020-05-14 18:20] joemienko commented on #99
Need a decision from DCYF about who (if anyone) should be at fault for missed visits due to tech issues.
1. Need to determine this for missed visits during COVID-19 AND
2. Need to determine this for the long term (beyond COVID-19).

[2020-05-14 18:26] joemienko commented on #101
As of today, CSSAT's best thoughts on this are to run a report to providers that helps them do cleanup per @sarahyatsko's comments.

As a first pass at this, however, we ought to see how well the features available under the referral list epic help providers do this cleanup (without ad hoc reporting requirements)

[2020-05-14 18:29] joemienko commented on #102
Information all appears to be available on the summary page, it is just "below the fold".

Simple solution may be to just move the summary section "above the fold"

[2020-05-14 18:39] Deanna1968 commented on #21
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] Update visit report forms (#21)
   Sent: May 14, 2020 11:38:45 AM, PDT

ACTIVATION INFORMATION:

The State of Washington Secure Email Portal has changed providers

[2020-05-14 19:02] jessicamorris64 commented on #21
you will need to review in UAT before you approve...

[2020-05-14 21:11] joemienko commented on #99
Per @Deanna1968, if the miss is a confirmed technical issue (vs a no-call no-show), it does not count against the parent.

[2020-05-14 21:18] joemienko commented on #102
Family-Time group suggests that moving the missed-visit breakdown to the top would be a good solution.

Additionally, in the top-level section, "Missed Visits" s/b changed to "Total Missed Visits"

[2020-05-14 21:45] joemienko commented on #21
Need to ask Rhonda if we stage Referral and Intake form revisions to allow us to reduce the sprout referral concept to "those data elements from FamLink", and create a new "Report" that would handle the provider intake business process.

[2020-05-14 22:06] joemienko commented on #41
@jessicamorris64 will make some changes in FamLink UAT today.
@Deanna1968  to review/accept tomorrow

[2020-05-15 15:32] Deanna1968 commented on #41
I have reviewed TRH that Jessi did in the UAT :) and I accept!

Yay!

Deanna

[2020-05-15 17:55] Deanna1968 commented on #41
Never mind I take it back on the TRH. Will get back shortly.

[2020-05-19 21:12] sarahyatsko opened #105 "Providers in provider finder listed in random order"
**Is your feature request related to a problem? Please describe.**
When Visit Coordinators check provider finder, the list of providers appears to be in a random order.

**Describe the solution you'd like**
The list should be in some order, presumably alphabetical.

[2020-05-28 21:02] Deanna1968 commented on #41
I reviewed the UAT on TRH and I approve!

[2020-05-30 19:35] sarahyatsko opened #106 "DCYF's Parkland office not on dropdown list of offices on visit report"
**Describe the bug**
On the visit report is a field to enter the name of the referring Social Worker and what office they work in.  There was an office added after Sprout launch called "Parkland Satellite" and it is not in the drop down list ofDCYF offices to chose in the Visit Report.

**To Reproduce**
Open a new visit report
Scroll down to Social Worker
Click on drop down list for DCYF office.

[2020-06-09 21:54] joemienko commented on #104
This issue could reasonably be split into three:

-- Ideal state is that the download button is not even available to VC organizations. (see #109 )
-- Maintenance page should not be displayed in error conditions. (address within this issue)
-- Maintenance page should be updated to reflect current sprout branding and ownership. (see #111 )

[2020-06-11 17:39] sarahyatsko commented on #106
Marshal and Sarah discussed this and agreed that adding Parkland office should not be difficult and Ari could give that a go.  Sarah will also add another Issue to the backlog to completely clean this list - or eliminate the need for it.

[2020-06-11 17:44] sarahyatsko commented on #104
Sarah will split this in to 3 issues and close this one.

[2020-06-11 17:47] sarahyatsko commented on #103
Immediate concern on this referral has been addressed.  Sarah will look to combine this issue with another similar one and close this out.

[2020-06-11 17:55] sarahyatsko commented on #98
To date, has only happened once. There is a work around.  If there are too many reports in one zip file, the user should break up the time window to reduce the number of reports that would be included in the zip file.

[2020-06-15 23:45] ariadnaeleni opened #107 "The rebrand banner is no longer needed."
Our users are well aware that Oliver has rebranded to Sprout, and the banner on the login page is no longer necessary

[2020-06-15 23:46] ariadnaeleni opened #108 "Update development database"
The backend should be updated so that the generated db in development includes a variety of ingested referrals

[2020-06-16 04:53] Deanna1968 commented on #41
Hi Jessi, Joe and Marshal,

I viewed the sib visit plan in UAT tonight.  It looked good to me and gave me the info I needed to view it.

Was I suppose to tell you this in GitHub?

thanks
Deanna

[2020-06-16 15:41] joemienko commented on #22
This issue has been partially resolved on the basis of some coordination with DCYF, and some cleanup on UAT. Status is as follows

- [x] Create/Map organizations for all VCs in Production Sprout

- [x] Create a mechanism through which referrals can be "ingested" from FamLink on UAT. The following alignment now exists across all sprout/famlink environments. The link between DST06 and usertest.sprou

[2020-06-16 15:46] joemienko commented on #70
This is linked to #52

[2020-06-16 18:41] joemienko commented on #93
@Deanna1968  - The only obvious field on visit reports that is not required is a visit supervisor. This may be difficult to implement. Is this a requirement?

Are there other required fields (that are not already required)?

[2020-06-16 18:42] joemienko commented on #94
@Deanna1968  - I believe we have decided that we do not want to list COVID-19 specifically. Is this still the case?

[2020-06-16 18:51] joemienko commented on #99
Some advice to providers is to always place the "fault" to the provider (which should solve this problem).

This advice has not been consistent though (different providers have been getting different messages)

@Deanna1968  - do we have consistent guidance that has been communicated to providers?

[2020-06-16 18:53] joemienko commented on #100
@Deanna1968  - As per Ronda Haun, this is no longer an issue. VCs havee access to all information in their current roles at DCYF.

Can we close this?

[2020-06-16 18:58] joemienko commented on #108
@yhtill  will add this to the engineering queue

[2020-06-16 18:58] #108 closed, assigned to nobody

[2020-06-16 18:59] joemienko commented on #107
@Deanna1968  - do you agree with this?

[2020-06-16 20:28] Deanna1968 commented on #100
close

From: joemienko <notifications@github.com>
Sent: Tuesday, June 16, 2020 11:53 AM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Morrison, Deanna (DCYF) <deanna.morrison@dcyf.wa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cssat/sprout-issues] VC's have too much access to Visit Reports (#100)

@Deanna1968<https://github.com/Deanna1968> - As per Ronda Haun, this is

[2020-06-16 20:28] Deanna1968 commented on #107
Hi Joe,
I agree its not needed!

[2020-06-16 20:30] Deanna1968 commented on #94
that is still the case
thanks

[2020-06-16 20:32] Deanna1968 commented on #93
I am not clear on this one.  can you talk about it when I jump on the call today at 230? thanks

[2020-06-16 22:18] jessicamorris64 commented on #100
You Have a New State of Washington Secure Email Portal Message

"Morris, Jessica (DCYF)" <jessica.morris@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: Re: [cssat/sprout-issues] VC's have too much access to Visit Reports (#100)
   Sent: June 16, 2020 3:17:47 PM, PDT

ACTIVATION INFORMATION:

The State of Washington Secure Email Portal has c

[2020-06-17 00:04] joemienko commented on #100
Hi all,

Responding to Jessy's autosecured email (which did not need to be secure) - we should confirm that VCs are not able to make edits to visit reports (or delete them).

@sarahyatsko  - Can you easily confirm this from your audit of permissions?

[2020-06-17 02:24] sarahyatsko commented on #100
Yep!

On Tue, Jun 16, 2020, 5:05 PM joemienko <notifications@github.com> wrote:

[2020-06-17 15:16] Deanna1968 commented on #100
Hi Joe,
VCs should not be able to edit the visit reports nor delete them!

deanna

[2020-06-18 19:37] joemienko commented on #107
@ariadnaeleni  - please see the note above. Unless @yhtill feels otherwise, you should feel free to roll this into the sub-branch you are working on.

[2020-06-18 20:58] joemienko commented on #94
Ask is to have a technical "cause" of the missed visit. (per @Deanna1968 )

[2020-06-18 21:26] joemienko commented on #93
@sarahyatsko has agreed to close this issue, and split it into 1-2 separate issues related to VC ability to edit/delete referrals

[2020-06-18 21:28] joemienko commented on #100
@sarahyatsko has agreed to close this issue, and split it into 1-2 separate issues related to VC ability to edit/delete referrals

[2020-06-22 22:45] sarahyatsko opened #109 "Download button is unnecessary and confusing for VCs"
**Is your feature request related to a problem? Please describe.**

The download button on the My Organization page allows Org Admin users to download an Excel file with Intake and Visit Report data for a particular date range.  Given that no one in a VC organization would be performing either Intake or completing visit reports, the download button is unnecessary and confusing for these users.

**

[2020-06-24 16:51] #82 closed, assigned to yhtill

[2020-06-29 20:54] yhtill opened #110 "The Sprout maintenance page has an expired SSL cert"
The SSL certificate for the Sprout maintenance page appears to have expired, so when the maintenance page is put up, users see a security warning page instead of the maintenance page.

[2020-06-30 17:23] joemienko commented on #104
Closed accidentally

[2020-06-30 17:26] joemienko opened #111 "The Sprout maintenance page has outdated branding and ownership"
Breaking off from #104

[2020-06-30 17:37] joemienko commented on #98
Adding this into the in-progress section of the kanban and assigning to @yhtill .

This issue will be resolved upon the completion of the current PDF generation project.

[2020-06-30 17:42] joemienko commented on #101
Adding this to ToDo column with a provisional assignment to @sarahyatsko .

Also flagging as blocked due to the current plan for resolution (i.e. having @sarahyatsko train users to make use of the filters to clean up report litter)

[2020-06-30 17:46] joemienko commented on #99
Last meeting we decided that @Deanna1968  was going to consult on the business side to determine strategy here - provide a better categorization in sprout or train providers to always place fault with the provider.

@Deanna1968  - any further thoughts on this?

[2020-06-30 17:58] joemienko commented on #93
Deanna agreed that we would want to require the entry of a visit supervisor.

[2020-06-30 17:59] #41 closed, assigned to oieeri26

[2020-06-30 17:59] #48 closed, assigned to oieeri26

[2020-06-30 18:00] #21 closed

[2020-06-30 18:03] joemienko commented on #83
Addressed under #41

[2020-06-30 18:03] #83 closed, assigned to nobody

[2020-06-30 18:11] joemienko commented on #65
This will be addressed under #94

[2020-06-30 18:11] #65 closed, assigned to joemienko, sarahyatsko, Deanna1968

[2020-06-30 18:12] joemienko commented on #93
The required information makes this a duplicate of #80

[2020-06-30 18:13] joemienko commented on #80
Will be addressed under #93 93

[2020-06-30 18:13] #80 closed, assigned to nobody

[2020-06-30 18:14] joemienko commented on #73
@sarahyatsko , just doing backlog grooming.

Did we ever finish entry here?

@Deanna1968 & @jessicamorris64 CSSAT is still responsible for creating all orgs. Who is the DCYF point of contact for provider IDs?

[2020-06-30 18:20] #67 closed, assigned to nobody

[2020-06-30 23:38] joemienko opened #112 "Approved old visit reports will appear incomplete if created before the implementation of a new field"
_Current behavior_

**If a visit report was created prior to the addition of a required field, the report will be marked as incomplete in the UI**

_Desired behavior_

**As a user viewing a visit report, if an approved report includes all fields that were required as of the day of the approval, then the visit report should not be marked incomplete, so that I see an indication of completeness accor

[2020-06-30 23:45] joemienko opened #113 "Visit modality is not required in visit reports"
_Current Behavior_

**Entry of the virtual flag (a boolean) is not required in visit reports. This creates the possibility that a visit report can inadvertently be saved and approved with the boolean marked as null (implicitly false) even though the visit was in-person.**

_Desired Behavior_

**As a family time provider user, I should be forced to affirm that a visit is in-person or virtual on att

[2020-06-30 23:56] joemienko opened #114 "Visit report forms do not support record of sterilization fees."
_Current Behavior_

**Providers will soon be paid set reimbursement fees related to the sterilization of visit locations. Visit report forms do not have a way of recording a provider affirmation that the fee is required.**

_Desired Behavior_

**As a family time provider user, I can indicate that an in-person visit required sterilization so that I am properly compensated for time spent cleaning af

[2020-07-06 17:13] jessicamorris64 commented on #73
I spoke with Jolene about this and she reminded me that on February 26th she sent you a list of all the provider IDs for Family Time providers. You guys sent her a list first of all providers and she went line by line looking each of them up, as you know some of them do not have the same business name. Deanna and our contracts staff will have to work on any updates to where (regions/counties) thos

[2020-07-15 21:47] sarahyatsko opened #115 "A Visit Supervisor Can Not Enter a Transport that Happens Mid-Visit"
**Is your feature request related to a problem? Please describe.**
It happens that during a lengthy visit, the location may change and there is a mid-visit transport.  Per one provider this is not that rare.

_"This is typically going to happen more during the summer, during the morning visits the parents might start off inside, and then move to another outdoor location once it warms up. Or they s

[2020-07-28 21:16] joemienko opened #116 "Reimbursements for COVID sanitation cannot be assigned"
Per @Deanna1968, Family Time users need to be able to specify reimbursements for sanitization and other fees associated with in-person visits during the COVID-19 pandemic. These fees need to be associated with drivers, supervisors, or other individuals helping to conduct a visit.

Upon further investigation, we discovered that several pieces of data associated with compensation or reimbursement ha

[2020-07-28 21:23] joemienko opened #117 "Reimbursements in visit report forms cannot be assigned to individual users"

[2020-07-28 21:24] joemienko commented on #116
Will be tracking Phase 2 in a separate issue (#117)

[2020-07-28 21:25] joemienko commented on #117
This issue is being split away from #116

**The desired user story is as follows:** As a Sprout user, I should be able to link reimbursable activities to specific users of my organization, so that I am compensated appropriately for my work by the invoicing process.

**The current goal is as follows:** Add the ability to associate a user to all of the Visit Report Components that are classified as

[2020-07-28 22:17] Deanna1968 commented on #116
HI Joe,

I agree with the above phase 1 and 2. also that  #117 will be updated next week.

thanks
Deanna

[2020-07-28 23:28] joemienko commented on #116
Great!

Have you checked out the feature (specified reimbursement) in UAT?

Sarah or I could demo for you if that's helpful.

Joe

On Tue, Jul 28, 2020, 3:18 PM Deanna1968 <notifications@github.com> wrote:

[2020-07-28 23:33] Deanna1968 commented on #116
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] Reimbursements for COVID sanitation cannot be assigned (#116)
   Sent: July 28, 2020 4:33:03 PM, PDT

ACTIVATION INFORMATION:

The State of Washington Secure Emai

[2020-07-28 23:56] joemienko commented on #116
Hi @Deanna1968 -

For some reason, this went to secure mail, and I don't think you included me in the message (you were replying to GitHub).

Can you forward the message to my email (mienko@uw.edu) and I can reply to you securely?

[2020-07-29 21:53] joemienko commented on #116
Hi @Deanna1968  -

Just checking-in here again.

The secure email text from above came to GitHub, not to me :)

If you have a question for me (secure or otherwise), can you please make sure that I (or @sarahyatsko) are in the to line?

[2020-07-29 21:55] Deanna1968 commented on #116
I don't understand?  what email?  was it the one I gave approval on.  sorry

[2020-07-29 21:57] Deanna1968 commented on #116
Oh I see it above. Ok I was asking for a demo.

[2020-07-29 22:11] joemienko commented on #116
I have a few minutes now if you'd like me to demo

[2020-07-29 22:15] Deanna1968 commented on #116
Hi Joe,

Sarah demoed the Specific Requirement button to me today in UAT. It looks great and I approve it!

thank you
Deanna

[2020-07-29 22:24] joemienko commented on #116
Perfect. Thanks, @Deanna1968!

Shannon/Jolene,

Can you please confirm that you have everything you need to support
training on this new feature?

Just a reminder for anyone following this that we have agreed to wait 24
hours post-acceptance, and verification from the training team before we
make a production deployment.

This means we will need to have *confirmation from the training team by
COB

[2020-07-29 22:24] joemienko commented on #116
Reopening this to maintain visibility until we have completed the deployment. Once I hear from Jolene or Shannon, I will move it to the "Accepted/Ready for Deployment" column of the Kanban.

-Joe

[2020-07-29 22:28] joemienko commented on #117
Moving some additional information from #116 here.

We need to be able to associate users with activities/reimbursements in the following sections of the visit report forms:

- Activity Fee (on sibling visits)
- Other Travel Reimbursement
- Specified Reimbursement (New Feature Request)
- Wait Times

Other sections of the form (mileage, visit duration) make explicit links to the target of the compe

[2020-07-29 22:47] joemienko commented on #116
Seems like a provider feature!  I don’t need anything in my materials.

Thanks for checking

________________________________
On: 29 July 2020 15:24,
"Joseph A Mienko" <mienko@uw.edu<mailto:mienko@uw.edu>> wrote:

Perfect. Thanks, @Deanna1968!

Shannon/Jolene,

Can you please confirm that you have everything you need to support training on this new feature?

Just a reminder for anyone following th

[2020-07-30 01:43] joemienko commented on #116
Great, I'll move this over as accepted/ready for prod.

On Wed, Jul 29, 2020, 3:48 PM Bradley, Jolene (DCYF) <
jolene.bradley@dcyf.wa.gov> wrote:

[2020-07-30 02:52] joemienko commented on #114
@cssatmcfunk 👆

[2020-07-30 02:54] joemienko commented on #116
@cssatmcfunk 👆

Also noting that this was partially duplicate of #114.

Closing #114 in favor of this issue.

[2020-07-30 02:54] joemienko commented on #114
Duplicated by #116

[2020-07-30 02:54] #114 closed, assigned to nobody

[2020-07-31 05:06] joemienko commented on #116
**This issue is resolved**

[code]

[2020-07-31 15:54] Deanna1968 commented on #116
is there anything I need to do? thanks

[2020-08-01 03:44] joemienko commented on #116
Nope, we just wanted to make sure that the final deployment was at a low utilization time.

[2020-08-01 03:45] joemienko commented on #116
[code]

[2020-08-01 03:45] #116 closed, assigned to cssatmcfunk

[2020-08-03 12:16] joemienko opened #118 "Sprout referral queue is taking too long to load/timing out"
The sprout referral list (i.e. referral queue) is taking too long to load. In some cases, the list will take over 30 seconds, and in some cases (i.e. when used by superusers) it will time out entirely.

The issue appears to be linked to concurrency issues that lead to the survey brownouts last month.

The current plan is to implement a redux of some query improvements that were planned for under t

[2020-08-03 12:17] joemienko commented on #118
[code]

[2020-08-03 12:17] #118 closed, assigned to yhtill

[2020-08-03 12:37] joemienko commented on #113
Since we had already started work on this prior to the governance meetings began, Kevin/EJ had suggested that we could go ahead and finish up on this under the existing priorities. Will see if @cssatmcfunk  can take a look this week and roll into his outstanding work on visit reports under the specified reimbursement milestone.

[2020-08-03 12:59] joemienko commented on #112
@cssatmcfunk - this is the issue related to the "validation" improvements I mentioned in slack.

[2020-08-12 11:33] Deanna1968 commented on #116
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] Reimbursements for COVID sanitation cannot be assigned (#116)
   Sent: July 28, 2020 4:33:03 PM, PDT

ACTIVATION INFORMATION:

The State of Washington Secure Emai

[2020-08-26 23:33] Deanna1968 commented on #116
You Have a New State of Washington Secure Email Portal Message

"Morrison, Deanna (DCYF)" <deanna.morrison@dcyf.wa.gov> has sent you an encrypted message via State of Washington Secure Email Portal.

   Subject: RE: [cssat/sprout-issues] Reimbursements for COVID sanitation cannot be assigned (#116)
   Sent: July 28, 2020 4:33:03 PM, PDT

ACTIVATION INFORMATION:

The State of Washington Secure Emai

[2020-08-28 20:24] joemienko opened #119 "Sprout is frequently throwing a 500 when users try to access the Family Time referral queue"
**Describe the bug**
When trying to load the referral queue, users will receive a "something happened" error banner indicating that there was a 500 response from the server.

**Diagnosis**
 An investigation by @yhtill revealed that this was likely the result of database deadlocks that were occurring when the referral state is being updated.

**Solution**
We will now be calculating referral state i

[2020-08-28 20:46] joemienko opened #120 "Users can return to a cached rendering of PII after they have logged off"
**Describe the bug**
In certain scenarios, users can return to a cached rendering of PII after they have logged off from Sprout.

**To Reproduce**
Steps to reproduce the behavior (will only work with a sufficient level of browser cache):
1. Go to http://sproutservices.org (note: not https)
2. Log in
3. Log out
4. Type google.com directly into the browser
5. Hit the back button

**Expected behavior

[2020-08-31 16:39] joemienko commented on #119
**Issue resolved as a part of the following three deployments**

[code]

[code]

[code]

NOTE - The caching fix was for an unrelated bug (#120)

[2020-08-31 16:39] #119 closed, assigned to yhtill

[2020-08-31 16:40] joemienko commented on #120
**Issue resolved as a part of the following deployment**

[code]

NOTE - Users who were experiencing this bug will likely need to [clear their cache](https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en) prior to verifying that this solution has "worked".

[2020-08-31 16:40] #120 closed, assigned to yhtill

[2020-09-14 16:16] joemienko commented on #117
@Deanna1968 Please confirm the following acceptance criteria for this story:

**Given**: that a user has completed a reimbursable activity (i.e. Other Travel Reimbursement, Wait Times, Specified Reimbursement, Supervision, Activity Fee (sibling visit only) or Transportation) outside of Sprout
**And**: the user has started a Visit Report (attended, missed, or sibling) (or is editing another user's

[2020-09-22 18:39] joemienko commented on #117
@Deanna1968  - Just checking in on this.

[2020-09-23 18:51] joemienko commented on #117
**EMAIL THREAD FROM @Deanna1968 & @sarahyatsko follows below**

Hahaha! yes

From: Joseph A Mienko <mienko@uw.edu>
Sent: Wednesday, September 23, 2020 11:23 AM
To: Morrison, Deanna (DCYF) <deanna.morrison@dcyf.wa.gov>
Cc: Sarah K. Yatsko <syatsko@uw.edu>
Subject: Re: Github 116

Guessing you mean 117?

https://github.com/cssat/sprout-issues/issues/117

On Wed, Sep 23, 2020 at 11:13 AM Morrison, De

[2020-10-23 21:45] joemienko opened #121 "What is the concurrency of missed visits?"
**Please describe the information you need in your report.**

- 3 missed no-show visits allow a provider to return a referral to DCYF. The contract is ambiguous as to whether or not the missingness needs to be consecutive or total (i.e. since the start of the referral).

- A request has come from FIN to clarify this policy and would like to know how frequently the missingness is consecutive or tot

[2020-10-23 21:51] joemienko commented on #121
This request came from FIN. We can potentially support it, but the request needs to come from @Deanna1968.

@Deanna1968 - Can you confirm that this is information that is needed by the program to support your work with FIN, and other contracted providers?

As context, this is less than 2-hours of work and should not impact any Sprout engineering priorities.

[2020-12-10 22:24] joemienko opened #122 "After I enter the case participants, the system does not know how many parents and children there are."

[2020-12-10 22:35] #122 closed, assigned to nobody

[2020-12-11 20:06] jessicamorris64 commented on #120
we are seeing that the browser may still be storing cache information for sprout. this is a security concern. currently if you close the window but not the entire browser sprout does not require you to log in again. the requirement is that  no matter the browser, if the tab/window sprout is being viewed in is closed, then the page is reopened, it will require you to log in again, even if you did n

[2020-12-31 21:16] cdoran99 opened #123 "‘Select’ watermark vale does not disappear once a value is entered (shadow select) [CANS-F]"
Select reason for referral and move off Face Sheet and come back. Select reappears beside value.  Doesn’t matter which value you select. This makes it appear that you haven’t selected a value even though you have.
This seems to occur any place in CANS-F the ‘Select’ value/watermark is located including the Target plan for change, Primary Reason for Service Referral, End of intervention, etc.

[2020-12-31 21:17] cdoran99 opened #124 "Timeout notification when not inactive [CANS-F]"
Users get a notification that your session is about to expire due to inactivity, even when you are active in the system.
CANS-F is an external app to Sprout and it doesn’t recognize any activity in CANS-F as being active.
It is easily dismissed by clicking to stay signed in but repeats every 15 minutes.

[2020-12-31 21:17] cdoran99 opened #125 "Double scrollbar [CANS-F]"
At the end of the assessment there is a double scroll bar which is difficult to navigate.

[2020-12-31 21:18] cdoran99 opened #126 "Create New Assessment auto selects which case to apply the assessment to. [CANS-F]"
When creating a New Assessment the Assessment is not created into the Case that you created in the previous steps. It adds the New Assessment to a system selected case without indicating it to the user. This then puts the wrong assessment in the wrong case. There is no way to cancel or move the Assessment to the correct case.

[2020-12-31 21:19] cdoran99 opened #127 "Services paid field allows erroneous data input [CANS-F]"
Missing field formatting allows any payment values to be entered.
E.g. $1000.00.00

[2020-12-31 21:20] cdoran99 opened #128 "Date fields allow erroneous date input [CANS-F]"
Missing field formatting allows any date value to be entered.
e.g. 12/31/2020, 01/10/20,/12/220

[2020-12-31 21:20] cdoran99 opened #129 "Need a remove feature to accompany the Add Treatment feature [CANS-F]"
The system allows users to add multiple Treatments. In the event you click the add button more then you need there is no way to remove the Treatment.

[2020-12-31 21:21] cdoran99 opened #130 "Need a remove feature to accompany the Add Improvement feature [CANS-F]"
The system allows users to add multiple Improvements. In the event you click the add button more then you need there is no way to remove the Improvement.

[2020-12-31 21:21] cdoran99 opened #131 "Need the ability to Pull list of current providers [CANS-F]"
Taku has a need to be able to pull a list of the current CANS-F providers.

[2020-12-31 21:22] cdoran99 opened #132 "Missing headers on PDF [CANS-F]"
The scoring sheet is missing repeating headers which makes viewing the completed assessment PDF difficult

[2020-12-31 21:23] cdoran99 opened #133 "Scoring sheet value needs a label [CANS-F]"
The scoring sheet has user selected values of 0,1,2,3 but those values are not identified as to what they indicate.
Is 0 the highest value or the lowest value?

[2020-12-31 21:23] cdoran99 opened #134 "Ability to change to name in the Face Sheet [CANS-F]"
As a provider I need the ability to change the name of the person I am providing services for when the name is incorrect.

[2020-12-31 21:24] cdoran99 opened #135 "Dialog pop up box location [CANS-F]"
he dialog popup box is not fully visible on the right   hand side (should be larger and close to the page I am working on)

[2020-12-31 21:24] cdoran99 opened #136 "Error messaging not helpful [CANS-F]"
There is no way to tell what’s missing when you get an   error message before saving.   E.g. cant complete before the intervention

[2020-12-31 21:25] cdoran99 opened #137 "Labels missing from the report [CANS-F]"
*The labels on the scoring sheet are not populating on the report. This makes reading the report and confirming the information more difficult.

[2020-12-31 21:25] cdoran99 opened #138 "Ability handle erroneous Assessments [CANS-F]"
If an assessment is created in error, such as on the wrong case we need the ability to ‘delete’/reject/mark inactive so that the assessments “made in error” can be noted as made in error and not count against the data.

[2020-12-31 21:25] cdoran99 opened #139 "Comment font size on report [CANS-F]"
When comments are made in the scoring sheet they are displayed on the report. However the font of the comments is so small most testers didn’t notice that the comments were included in the report.

[2021-01-01 00:10] cdoran99 commented on #127
![image](https://user-images.githubusercontent.com/57012812/103431299-b2a63200-4b82-11eb-9341-78af25c8ed0f.png)

[2021-01-01 00:12] cdoran99 opened #140 "“Date First In Person Meeting” should not be able to be before the “Date Referral Received” [CANS-F]"
Facesheet page

No date        requirements in place. “Date First In Person Meeting” should not be able        to be before the “Date Referral Received”.
--

[2021-01-01 00:15] cdoran99 opened #141 "Lock data on Face Sheet after completion [CANS-F]"
Face Sheet
After completion these dates can all be edited. We should lock down most of the fields once completed.

[2021-01-01 00:16] cdoran99 opened #142 "Required field indicator on Face Sheet [CANS-F]"
Face Sheet
There should be some indicator marking which fields are required *
   I never entered worker name or office, these should also be required

[2021-01-01 00:20] cdoran99 opened #143 "Indicate incomplete fields before navigating to another tab [CANS-F]"
Assessment
Users should be showing missing or incomplete work before it lets you switch tabs

[2021-01-01 00:22] cdoran99 opened #144 "Seeing red [CANS-F]"
Assessment
After requirements are met we want to remove red background, or change to green

![image](https://user-images.githubusercontent.com/57012812/103431420-43c9d880-4b84-11eb-8a10-2ffe5cccdc37.png)

[2021-01-01 00:30] cdoran99 opened #145 "Assessment page needs required field validation added [CANS-F]"
Assessment
•	Let me mark all 3 as complete without required fields filled in
![image](https://user-images.githubusercontent.com/57012812/103431498-8cce5c80-4b85-11eb-8cdc-ed8bf5653243.png)

[2021-01-01 00:38] cdoran99 opened #146 "I guess you CAN take back what you said [CANS-F]"
Assessment
After text has been entered into red comments filled, and assessments marked as completed, I can still go back and edit/remove comments so the field is blank. But it still shows as completed….
![image](https://user-images.githubusercontent.com/57012812/103431507-c1daaf00-4b85-11eb-8445-4a386c4a93ac.png)

[2021-01-01 00:40] cdoran99 opened #147 "Child Name and Child Id should be required to save Assessment [CANS-F]"
Assessment   Allowed me to complete without having names or IDs for   child and caregiver in the assessments

![image](https://user-images.githubusercontent.com/57012812/103431562-bb006c00-4b86-11eb-97a4-c92bc1519230.png)

[2021-01-01 00:41] cdoran99 opened #148 "Required fields and validation on the Plan for change page [CANS-F]"
Plan for Change
Was able to complete without filling in all the fields or even putting any text in the intervention goal text box. As long as it had 3 goals, it allowed me to mark as complete.

![image](https://user-images.githubusercontent.com/57012812/103431572-f13deb80-4b86-11eb-9322-82d907d04160.png)

[2021-01-01 00:43] cdoran99 opened #149 "Comments field required when purchase amount entered [CANS-F]"
End of intervention
•	Does not require text in the description box of the purchase, should list what the item purchased was.

![image](https://user-images.githubusercontent.com/57012812/103431591-4d087480-4b87-11eb-98fb-119c424467d3.png)

[2021-01-07 21:50] yhtill commented on #136
Everything that's currently required is marked as missing on attempting to save/leave the CANS form.

[2021-01-08 20:56] yhtill opened #150 "Archive/Unarchive button sometimes doesn't update correctly [CANS-F]"

[2021-01-12 21:12] #117 closed, assigned to cssatmcfunk

[2021-01-12 21:17] joemienko commented on #107
Removed!

[2021-01-12 21:17] #107 closed, assigned to ariadnaeleni

[2021-01-12 21:26] joemienko commented on #86
If visit coordinators added themselves to the referral, they can search for themselves, under the system as designed.

[2021-01-12 21:26] #86 closed, assigned to nobody

[2021-01-12 21:29] joemienko commented on #73
@sarahyatsko has a process that is now handling this manually (we request the org id on creation of a new organization)

[2021-01-12 21:29] #73 closed, assigned to joemienko, sarahyatsko

[2021-01-12 21:33] joemienko commented on #60
We now prefix orgs with "DEACTIVATED" in order to make clear that they are no longer available for registration.

[2021-01-12 21:33] #60 closed, assigned to nobody

[2021-01-12 21:37] joemienko commented on #57
This has been completed

[2021-01-12 21:37] #57 closed, assigned to nobody

[2021-01-12 21:38] #59 closed, assigned to nobody

[2021-01-12 21:40] #35 closed, assigned to nobody

[2021-01-12 21:40] #34 closed, assigned to nobody

[2021-01-12 21:45] joemienko commented on #8
This is something that we will be delaying until after substantial's SAW prototype

[2021-01-13 23:39] jessicamorris64 commented on #86
This is in current production or with the new filtering capabilities that were previously worked on?

From: joemienko <notifications@github.com>
Sent: Tuesday, January 12, 2021 1:27 PM
To: cssat/sprout-issues <sprout-issues@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cssat/sprout-issues] No Way to Filter Referral List by Visit Coordinator (#86)

This message ha

[2021-01-16 00:19] jessicamorris64 commented on #73
i think manually is fine as long as this step isn't missed when adding providers

[2021-01-21 21:36] #126 closed, assigned to yhtill

[2021-01-21 21:36] #138 closed, assigned to yhtill

[2021-01-21 21:36] #150 closed, assigned to yhtill

[2021-01-22 20:27] yhtill opened #151 "The CANS-F sometimes requires deleting cookies to log in [CANS-F]"

[2021-01-27 01:52] yhtill commented on #139
Is this what is being described as too small to notice, or am I either misunderstanding or not able to reproduce this bug?
![image](https://user-images.githubusercontent.com/20548990/105930921-295a1200-5fff-11eb-993e-50b0bf2a5815.png)

[2021-01-27 14:55] nelsosd commented on #139
Personally I think the “I like turtles” is challenging to see and could be easily missed. When there is more than one line it is easier to see that it is there.

Shannon Nelson, MSW/IT Technology Trainer
Technology Services
253-380-5273<tel:253-380-5273>/ Shannon.nelson@dcyf.wa.gov<mailto:Shannon.nelson@dcyf.wa.gov>
[cid:image003.jpg@01D53D58.43DF9440]<http://www.dcyf.wa.gov/>

From: yhtill <notif

[2021-01-27 19:48] yhtill commented on #139
OK, I upped the font in the comments to the same size as surrounding fonts.

[2021-01-28 00:10] jessicamorris64 commented on #139
i agree with shannon that the "i like turtles" is a little difficult to read but i think that is the spacing of the letters being so close together, when they are long vertical letters. it's up to Taku but i would put this as low priority, since they can increase screen resolution and zoom in if they wish (just my opinion).

[2021-02-02 22:20] yhtill opened #152 "CANS-F crashes after deleting a goal [CANS-F]"
Repro:
1. Navigate to Plan for Change
2. Select some Target Needs
3. Click New Goal
4. Select some Target Needs
5. Click Delete
6. Click Permanently delete
7. Navigate to Assessments
8. Navigate to Plan for Change

Expected:
Functions normally

Observed:
Blank screen replaces CANS-F

[2021-02-03 03:56] #132 closed, assigned to yhtill

[2021-02-03 03:56] #139 closed, assigned to yhtill

[2021-02-03 03:56] #144 closed, assigned to yhtill

[2021-02-03 03:56] #151 closed, assigned to yhtill

[2021-02-04 01:36] yhtill opened #153 "Some CANS-F API GET calls mutate data"

[2021-02-08 18:07] cdoran99 commented on #136
Need to review with group for desired flow and functionality

[2021-02-08 18:43] cdoran99 commented on #139
Thank you for checking,

It looks good to me.  I think the work was done to make the font size the same for the comment and the left side column.

Taku Mineshita MSW | System of Care & Service Array Program Manager
Division of Child Welfare Programs | Olympia HQ
Office 360-902-7928| Cell 360-999-3110
Pronouns: he/him/his

[2021-02-08 21:56] cdoran99 commented on #138
Thank you,

This meets our needs, and the ticket can be closed.

Taku

Taku Mineshita MSW | System of Care & Service Array Program Manager
Division of Child Welfare Programs | Olympia HQ
Office 360-902-7928| Cell 360-999-3110
Pronouns: he/him/his

[2021-02-09 16:28] cdoran99 commented on #34
We are no longer seeing this issue occur. Thank you

[2021-02-09 22:33] cdoran99 commented on #50
This is specific to the Providers, not DCYF.

[2021-02-09 22:59] cdoran99 commented on #60
Re-open. The quick fix is working well, but we need a full fledged solution to remove these providers rather then sorting them out of the way.

[2021-02-11 23:41] sarahyatsko commented on #123
Reviewed with Taku and accepted

[2021-02-15 20:56] #123 closed, assigned to yhtill

[2021-02-15 20:56] #125 closed, assigned to yhtill, sarahyatsko

[2021-02-15 20:56] #152 closed, assigned to yhtill

[2021-02-16 22:37] cdoran99 commented on #66
@sarahyatsko Resolved with low connection message?

[2021-02-23 22:46] cdoran99 commented on #72
This would be for the event when there are changes to the referral that doesn't warrant the creation of a new referral.

[2021-03-03 17:06] joemienko opened #154 "What is the availability of providers throughout the state?"
For both CIHS and for Family Time, social workers, visit coordinators, and regional program staff want to know what providers are available for service at a given moment.

This has been historically available in "provider finder". However, this tool is buggy and has not been prioritized at this time.

Availability data can be recorded in various locations within Sprout.

A regular report of availa

[2021-03-03 17:11] joemienko opened #155 "How quickly are referrals being processed?"
Within Family Time, providers (and visit coordinators) do not have a concise way of knowing how quickly they are processing their referrals. This makes it difficult for them to adjust practice in support of performance metrics.

A regular report of aging referrals that could be distributed to providers and VCs would help meet this need.

[2021-03-03 17:13] joemienko opened #156 "What is the geographic distribution of visitation need?"
Fiscal is interested in knowing how visitation requests are geographically distributed throughout the state.

This information is (in principle) available in Sprout and could be run as a one-time or regular report to help Fiscal understand the geographic distribution of visitation requests.

[2021-03-03 17:20] joemienko opened #157 "What is the geographic distribution of visitation providers with respect to need?"
Fiscal and providers are interested in knowing how well providers are meeting the need as described in #156.

For fiscal's interest, they are interested in better understanding where they could target resources for pockets of poor visitation coverage. They are also interested in monitoring mileage reimbursement.

For provider's, they are interested in predicting mileage reimbursement by estimating

[2021-03-03 17:20] joemienko commented on #156
Note that this is presumably a need for other services as well - not just visitation.

[2021-03-03 17:24] joemienko opened #158 "Provider access to their own "raw" data"
FIN and individual providers throughout the state have made repeated requests for access to curated extracts of data from Sprout to help them run various aspects of their business.

The proposed model for providers is something along the lines of the FIN performance reports that were provided to FIN on a monthly basis prior to the implementation of the VC model throughout the state.

[2021-03-03 17:26] joemienko opened #159 "How many provider users are using Sprout throughout the State?"
The CIHS program is interested in understanding how many registered users there are in Sprout and what specific services users are registered for.

Additionally, they are interested in usage metrics to better understand how well providers are making use of the application.

[2021-03-03 17:31] joemienko opened #160 "Provider access to invoice data"
Providers are currently receiving invoices that are generated manually by CSSAT on a monthly basis. This was intended to be a stop-gap measure until billing was integrated into FamLink and SSPS.

If integration is not going to happen quickly, then a more automated approach to invoice generation within Sprout is needed.

[2021-03-03 17:34] joemienko opened #161 "Which providers have invoice anomalies?"
Fiscal is interested in a report that helps them flag anomalous billing activity from providers (e.g. extremely high mileage requests, activity fee reimbursements in excess of policy)

The development of flags on fiscal's monthly invoice reports has been requested to support this request.

This should be for providers as well as fiscal.

When the flags are triggered, there should be a color-coding

[2021-03-03 23:59] joemienko commented on #161
We will fill this request, but we are going to wait on the color-coding until we have more specificity.

[2021-03-04 00:09] joemienko commented on #121
@Deanna1968 - Our understanding is that there are existing data from approx. 2018 in Region 1 to answer this question.

Per Barb Gansberg - if executive leadership requires a re-run, we can support this request. Otherwise, we should proceed with the older data from 2018.

[2021-03-04 00:11] #121 closed, assigned to nobody

[2021-03-04 00:24] joemienko commented on #156
Per B. Gansberg - Until we have time for further development in geocoding and geospatial visualization, we are going to icebox this.

[2021-03-04 00:25] joemienko commented on #157
Per B. Gansberg - Until we have time for further development in geocoding and geospatial visualization, we are going to icebox this.

[2021-03-04 00:29] joemienko opened #162 "Create a tentative data pipeline to OIAA"

[2021-03-04 00:30] joemienko opened #163 "Create a Family Time Reporting Layer on the xchange DB"

[2021-03-04 00:30] joemienko opened #164 "Create a CANS Reporting Layer on the xchange DB"

[2021-03-09 23:45] joemienko opened #165 "Need to add CANS-F to usertest"

[2021-03-10 21:55] joemienko commented on #2
@jessicamorris64, is it still possible for us to attach a complete set of person IDs for access to referrals? Don't need anyone to start work on this, but we are just curious about the status.

[2021-03-17 05:57] sarahyatsko opened #166 "A Visit Report Can Be Approved Without A "Valid" Address"
**Is your feature request related to a problem? Please describe.**
Currently a visit supervisor who fills out a visit report does not have to fill in the visit location address in order for the visit report to be "Submitted for Approval" or in order for it to be "Approved" by an Service or Org Admin.  This is a problem because auditors for DCYF require that the address where a visit took place be

[2021-03-18 22:25] yhtill opened #167 "DCYF users cannot download Visit Report history"

[2021-03-18 22:32] yhtill opened #168 "UIR datestamp is sometimes wrong"

[2021-03-23 22:18] yhtill opened #169 "Visit report history date of change column is blank"

[2021-03-26 20:45] cdoran99 commented on #166
Describe the solution you'd like
Make address a required field. **With a minimum of the city and state**.
Describe alternatives you've considered
Instructing providers that they are required to complete the address portion of the visit report.
**NOT just a generic “in the community”. That is appropriate for the referral but the visit report should have the location of the actual visit. A minimum o

[2021-04-02 20:38] yhtill opened #170 "CANS users are unclear when/if their assessments have been saved to the server"

[2021-04-02 20:44] sarahyatsko commented on #106
In late March 2021 another new office was added called "Vancouver - Clark" This should also be added to this list of offices on the visit report

[2021-04-08 00:30] sarahyatsko commented on #167
@Deanna1968  I am documenting here that during our Tuesday 2 pm meeting on April 6th, Deanna provided an oral acceptance of this permission change and green lighted pushing this in to production.  - Sarah

[2021-04-08 16:00] Deanna1968 commented on #167
Correct!!

From: sarahyatsko ***@***.***>
Sent: Wednesday, April 7, 2021 5:31 PM
To: cssat/sprout-issues ***@***.***>
Cc: Morrison, Deanna (DCYF) ***@***.***>; Mention ***@***.***>
Subject: Re: [cssat/sprout-issues] DCYF users cannot download Visit Report history (#167)

External Email

@Deanna1968<https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDeanna1968&data=04%7C

[2021-04-21 15:18] yhtill opened #171 "Deleting a goal other than the last one causes bad behaviors"

[2021-06-25 20:51] joemienko opened #172 "VC orgs will slow down 72 hour referrals"
# Definitions

72 hour visit organization - A family time organization, one per region, with contractual responsibilities to complete initial visits within 72 hours of DCYF receiving custody of a child.

72 hour visit coordinator - A family time user, within a 72 hour visit organization, with org admin and region admin privileges. This user can view referrals, accept referrals, assign referrals, a

[2021-06-25 20:51] joemienko opened #173 "Multiple staffing patterns exist in 72 hour organizations"
# Definitions

72 hour visit organization - A family time organization, one per region, with contractual responsibilities to complete initial visits within 72 hours of DCYF receiving custody of a child.

72 hour visit coordinator - A family time user, within a 72 hour visit organization, with org admin and region admin privileges. This user can view referrals, accept referrals, assign referrals, a

[2021-06-25 20:52] joemienko opened #174 "Single queue with ongoing & 72 hour referrals will be confusing"
# Definitions

72 hour visit organization - A family time organization, one per region, with contractual responsibilities to complete initial visits within 72 hours of DCYF receiving custody of a child.

72 hour visit coordinator - A family time user, within a 72 hour visit organization, with org admin and region admin privileges. This user can view referrals, accept referrals, assign referrals, a

[2021-06-25 20:52] joemienko opened #175 "72 hour and ongoing referrals will sometimes be misdirected due to data entry problems"
# Definitions

72 hour visit organization - A family time organization, one per region, with contractual responsibilities to complete initial visits within 72 hours of DCYF receiving custody of a child.

72 hour visit coordinator - A family time user, within a 72 hour visit organization, with org admin and region admin privileges. This user can view referrals, accept referrals, assign referrals, a

[2021-07-01 22:31] joemienko commented on #172
Prerequisites for acceptance in UAT (each step to be documented for replication in production)

- [x] @yhtill Refresh the UAT database
- [x] @sarahyatsko add UAT 72-Hour VC Orgs with org admins, basic user, and region admin
- [x] @sarahyatsko add contracts for new UAT 72-Hour VC Orgs
- [x] @yhtill determine a replicable method for updating the routing tables on UAT
- [x] DCYF needs to push some re

[2021-07-08 19:17] joemienko commented on #172
Per @sarahyatsko `72 Hour - Region <X> - <OrganizationName>` is the requested org name format from "Visit Leads"

[2021-07-15 22:15] joemienko commented on #172
@jessicamorris64 - UAT is ready for referrals.

Can you please send 12 referrals?

- 6 regular referrals from each region, and

- 6 72 hour referrals from each region?

Once they are sent, we will connect with @Deanna1968 for acceptance.

-Joe

[2021-07-22 18:34] joemienko commented on #173
Due to some issues with the way Sprout enables access to key features for 72-hour referrals (e.g. access to the "Timeline"), 72 hour visit organizations will be required to either do 72-hour work from within their 72 hour visit organization or from their regular organization.

IOW - If a 72 hour visit organization wants to assign 72 hour referrals to their regular organization, they will have to d

[2021-07-22 20:07] joemienko commented on #174
New orgs have been created as per the plan above.

[2021-07-22 20:07] #174 closed, assigned to yhtill, sarahyatsko

[2021-07-22 20:07] joemienko commented on #175
Proposed solution verified and accepted by @Deanna1968

[2021-07-22 20:07] #175 closed, assigned to yhtill, sarahyatsko

[2021-07-22 20:10] joemienko commented on #173
Contracts implemented for the new orgs referenced in #174. The caveat on the contracting nuances above to be communicated at provider training.

[2021-07-22 20:10] #173 closed, assigned to yhtill, sarahyatsko

[2021-07-22 20:11] joemienko commented on #172
We have working test referrals (test and emergent) for all 6 regions.

All routing behaving as expected on UAT and accepted by @Deanna1968

[2021-07-22 20:59] joemienko commented on #172
The proposed change has been implemented in production.

Remaining steps are as follows:

(Checked boxes are complete, unchecked boxes to be completed by Thursday (7/22), COB)

- [x] @sarahyatsko - Ensure that all contracts are set per provider preferred business processes on production
- [x] @sarahyatsko  - Add the complete set of 72 hour orgs that we would like on usertest
- [x] @Deanna1968 - ad

[2021-07-23 01:48] joemienko commented on #172
As per business guidance on Thursday

We have reconfigured Sprout to comply with the above policy as written.

[2021-07-23 01:50] Deanna1968 commented on #172
Thank you Joe!

From: joemienko ***@***.***>
Sent: Thursday, July 22, 2021 6:49 PM
To: cssat/sprout-issues ***@***.***>
Cc: Morrison, Deanna (DCYF) ***@***.***>; Mention ***@***.***>
Subject: Re: [cssat/sprout-issues] VC orgs will slow down 72 hour referrals (#172)

External Email

As per business guidance on Thursday

FamLink changes have been made and will go live at 6:00am on 7/23/21; however,

[2021-07-23 16:49] #172 closed, assigned to yhtill, sarahyatsko

[2021-08-03 20:53] joemienko opened #176 "72 hour orgs without contracts cannot filter referrals by the "Requested" state"
As a user in a 72-hour organization without contracts, I should be able to select referrals in the Requested state, so that I don't miss new referrals for my organization

[2021-08-03 22:48] joemienko opened #177 "When a child does not visit within 3 days of OPD, we don't know why"

[2021-08-16 16:20] joemienko commented on #177
HB 1194 requires that children visit their parents within 72 hours of being delivered into the custody of DCYF. When children don't have an initial visit within that time frame, we need to know why.

Current plans to resolve this issue are to create an "initial visit log" within the visit referral that can be accessed from the summary view as shown below:

![image](https://user-images.githubuserco

[2021-08-16 16:22] joemienko commented on #177
@sarahyatsko @jessicamorris64  - Can you guys please get us a list of "reasons the 72 Hour Visit Did Not Occur"?

Thanks!

[2021-08-16 21:28] jessicamorris64 commented on #177
It was my understanding that Sarah and Deanna were going to work with Providers to gather that list. but I could be wrong.
In additional to the list, I'm not sure the label make sense, we went to great lengths to establish the difference in initial vs emergent 72 hour. so calling this the initial visit outcome doesn't make sense to me...

[2021-08-23 17:20] tim123k opened #178 "Providers can not enter more than 2 Hours of Time for an Intake"
**Describe the bug**
The time field for an intake in Sprout will not allow the user to enter a number greater than 2.0

**Expected behavior**
No 2.0 cap on allowed time entered for intakes so that users can enter the total time they actually spent on intake, even when that is longer than 2 hours.

[2021-09-24 01:14] sarahyatsko opened #179 "Unable to download pdf of incomplete CANS"
Sometimes it would be helpful to be able to download the pdf for a CANS that is only partially complete.  As the application now works, the download button is only visible if at least one portion of the CANS is completed.

**Describe the solution you'd like**
Make download button visible and functioning at all times, even when nothing is entered in the CANS.

**Describe alternatives you've conside

[2021-10-13 22:58] sarahyatsko opened #180 "The UIR Report in UI in Sprout says "CA" instead of "DCYF""
**Describe the bug**
There are at least two places in the UIR screen in Sprout that says "CA" where is should say "DCYF"

![Screen Shot 2021-10-13 at 3 54 36 PM](https://user-images.githubusercontent.com/49733235/137223812-a4603077-d929-4ea8-8d66-7239e26cd02a.png)

[2021-10-15 19:41] joemienko commented on #8
Sorry for the delay in updating this issue.

@yhtill has been back to work on this for the last couple of weeks, although he continues to context shift back to the CANS as bugs crop up there...

As of today (10/15) we have

1. Built a functioning prototype that uses AWS SAML as a stand-in for SAW.
2. Established access to the test/staging environment for SAW.
3. Been granted a copy of the SAW IdP

[2021-12-13 22:37] subaykan opened #181 "Providers should not be able to click the reject button a referral with reports"
If a referral has visit reports, providers should not be able to click 'reject' on the referral. This puts the referral into a 'stuck' rejected state and prevents the referral from being transitioned (or 'put back') into the VC's in a 'received' state. The provider will have to delete any reports attached to the referral. One possible fix for this would be to disable the reject button in that scen

[2021-12-14 20:23] subaykan opened #182 "log4j vulnerability in oliver-secure-store"
A vulnerability named Log4Shell (an exploit whereby arbitrary commands can be executed by invoking the logging of certain strings) was found and announced for applications using log4j - we are advised to upgrade to log4j version 2.16.

[2021-12-14 22:01] subaykan commented on #182
Deployed to production

change PR: https://github.com/cssat/oliver-secure-store/pull/7

[2021-12-14 22:01] #182 closed, assigned to yhtill, subaykan

[2021-12-28 20:57] subaykan opened #183 "Sort referrals by 'request date': null Original request date is ordered first"
repro example: enter case number into search field: 1907606
select 'Request Date' in Sort pulldown.
The first result in the sorted list is older than the rest (the remaining are sorted correctly)

clicking into that referral's details shows that the Original request date is missing (this is called out with error messaging on the referral). This is most likely an error on the input (referral data i

[2022-01-05 17:50] subaykan opened #184 "log4j vulnerability (v 2.16) oliver-secure-store"
Sounds like a low (or zero) risk for oliver-secure-store, a vulnerability was discovered which can trigger recursion in a string template substitution if the config has certain patterns. The mitigation is to rev the version to 2.17.1

Since we recently did the 2.16 upgrade (change PR: https://github.com/cssat/oliver-secure-store/pull/7) this should be a low effort to do a similar upgrade of log4j.

[2022-01-05 19:00] subaykan commented on #184
PR: https://github.com/cssat/oliver-secure-store/pull/8

[2022-01-05 20:38] subaykan commented on #167
Done.

PR for this change https://github.com/cssat/sprout/pull/100

[2022-01-05 20:38] #167 closed, assigned to nobody

[2022-01-05 20:39] subaykan commented on #178
Done

PR: https://github.com/cssat/sprout/pull/112

[2022-01-05 20:39] #178 closed, assigned to sarahyatsko

[2022-01-05 20:41] subaykan commented on #180
https://github.com/cssat/sprout/pull/111

[2022-01-05 20:41] #180 closed, assigned to nobody

[2022-01-05 20:42] subaykan commented on #179
https://github.com/cssat/sprout-wizard/pull/47

[2022-01-05 20:42] #179 closed, assigned to yhtill, sarahyatsko

[2022-01-05 20:46] subaykan commented on #177
done with https://github.com/cssat/sprout/pull/107

[2022-01-05 20:46] #177 closed, assigned to cssatmcfunk, jessicamorris64, sarahyatsko

[2022-01-05 20:57] subaykan commented on #171
done with https://github.com/cssat/sprout-wizard/pull/40

[2022-01-05 20:57] #171 closed, assigned to nobody

[2022-01-05 21:00] subaykan commented on #153
fixed in https://github.com/cssat/sprout-wizard/pull/39

[2022-01-05 21:00] #153 closed, assigned to nobody

[2022-01-05 21:10] subaykan commented on #170
resolved https://github.com/cssat/sprout-wizard/pull/44

[2022-01-05 21:10] #170 closed, assigned to yhtill

[2022-01-05 21:21] subaykan commented on #176
resolved https://github.com/cssat/sprout/pull/105

[2022-01-05 21:21] #176 closed, assigned to nobody

[2022-01-05 23:30] subaykan commented on #184
deployed to prod

[2022-01-05 23:30] #184 closed, assigned to nobody

[2022-01-07 00:47] joemienko commented on #2
This issue could be partially resolved by a social worker micro visitation app

[2022-01-07 00:48] joemienko commented on #5
Since this information of primary utility to social workers, this issue could be partially resolved by a social worker micro visitation app

[2022-01-07 00:48] joemienko commented on #18
This issue could be partially resolved (i.e. audit of access by social workers) through a social worker micro visitation app

[2022-01-07 00:49] joemienko commented on #44
This issue could be partially resolved by a social worker micro visitation app (i.e. SWs could see a log of report changes)

[2022-01-07 00:50] joemienko commented on #68
This issue could be partially resolved by a social worker micro visitation app - the information could be communicated there instead of at the referral.

[2022-01-07 00:52] joemienko commented on #102
This issue could be partially resolved by a social worker micro visitation app - moving the information to the new app with better math based on new access controls, and disabling the existing feature

[2022-01-07 00:53] joemienko commented on #169
This issue could be partially resolved by a social worker micro visitation app where a new simplified report template would be enabled.

[2022-01-07 00:54] joemienko commented on #168
This issue could be partially resolved by a social worker micro visitation app where a new simplified report template would be enabled.

[2022-01-07 00:54] joemienko commented on #112
This issue could be partially resolved by a social worker micro visitation app where a new simplified report template would be enabled.

[2022-01-18 21:05] subaykan opened #185 "UIR 'other action taken' field silently fails on length > 255"
Brought to our attention via zendesk tickets:
https://oliver.zendesk.com/agent/tickets/17281
https://oliver.zendesk.com/agent/tickets/17289

**Describe the bug**
In an Unusual Incident Report (UIR), in the 'Action taken' section, selecting 'Other' in the Action Taken pulldown surfaces the text input field for a description of the action taken.  The database column storing this value is a 255 varch

[2022-01-18 21:07] subaykan commented on #185
fix: https://github.com/cssat/sprout/pull/113

added max length of 200 to the validation schema of the form.

[2022-01-18 21:08] subaykan commented on #185
deployed to UAT

[2022-01-18 21:25] cdoran99 commented on #185
Thank you John. our team can review shortly and report back on how the testing is going.

[2022-01-19 21:42] subaykan commented on #185
Note: we got signoff to deploy this fix from Doug yesterday - and will be deploying to prod today or tomorrow.

Some info about the functionality and the scenarios: if the length of the 'other action taken' field exceeds 200, the browser will still be able to save the form including that field (up to a max of 255), but the validation failure (i.e. the red error message) will not allow the report t

[2022-01-19 22:07] jessicamorris64 commented on #185
Hey John,
Just making sure I understand, it prevents supervisor approval right? The worker is still able to submit it to supervisor from what we saw yesterday.

From: John Subaykan ***@***.***>
Sent: Wednesday, January 19, 2022 1:42 PM
To: cssat/sprout-issues ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [cssat/sprout-issues] UIR 'other action taken' field silently fails on length > 255 (I

[2022-01-19 22:21] subaykan commented on #185
@jessicamorris64 - yes, to be clear - it disables the Approve button. The data in the form can be saved/submitted but can not be approved until the form validation error is resolved (in other words, that field cut down to 200 or below)

[2022-01-20 00:08] subaykan commented on #185
deployed to prod and verified fix

[2022-01-20 00:08] #185 closed, assigned to nobody

[2022-01-20 01:30] jessicamorris64 commented on #185
Fabulous! Thanks John! 😊

From: John Subaykan ***@***.***>
Sent: Wednesday, January 19, 2022 2:21 PM
To: cssat/sprout-issues ***@***.***>
Cc: Morris, Jessica (DCYF) ***@***.***>; Mention ***@***.***>
Subject: Re: [cssat/sprout-issues] UIR 'other action taken' field silently fails on length > 255 (Issue #185)

External Email

@jessicamorris64<https://gcc02.safelinks.protection.outlook.com/?url=http

[2022-01-20 18:33] subaykan opened #186 "Find referrals easily by urgency criteria"
**General problem statement**
As a Provider I would like to quickly find referrals that meet certain urgency criteria

**Example**
Provider may want to locate referrals which have visit reports that have been waiting for review for X days. (this example was mentioned to us by a provider in a call.)

**Options**
Adding new Sort Types which would order referrals meeting each criterion first.
Adding

[2022-01-20 18:44] subaykan commented on #186
duplicates issue #43

[2022-01-27 23:37] sarahyatsko opened #187 "Sprout Users Must Click Edit to See Certain Referral Information on Referral Screen"
**Describe the bug**
In the section of the referral titled "Schedule" there is a subsection titled "Time Negotiable" It looks like there are two fields in this subsection and it may be that if the first field is left blank in FamLink, then the entire Time Negotiable field does NOT show up on the main referral screen in Sprout.

**To Reproduce**
Open the referral in Sprout with the Visit Plan ID of

[2022-01-28 18:48] subaykan commented on #187
Investigating, some notes:

comparing the referral noted in this bug
https://www.sproutservices.org/visitation/referrals/61246
with another where the court order notes are displayed on the read view:
https://www.sproutservices.org/visitation/referrals/61217

in the latter, the 'Time Negotiable' field has the value 'Court Ordered' whereas the problem case cited has no value. I suspect the problem (

[2022-01-28 19:53] subaykan commented on #187
in referral 61246 the UI shows this value for court order notes:
![Screenshot from 2022-01-28 11-41-01](https://user-images.githubusercontent.com/80794129/151611048-f18f8a54-18a8-43ff-9bed-dcff72b73289.png)

and for 61217 the UI is shown in the screenshot
<img width="1043" alt="Screen Shot 2022-01-27 at 3 55 00 PM" src="https://user-images.githubusercontent.com/49733235/151462811-c07eb673-19e6-489

[2022-01-28 19:59] subaykan commented on #187
also noting that older referrals do not look the same in the UI in edit view, I think there was a change to the data format for referrals at some point, older referrals (and dev data) look like this:

![Screenshot from 2022-01-28 11-58-41](https://user-images.githubusercontent.com/80794129/151613257-c4d321fe-3af9-4d81-aa85-ed584cde7225.png)

... looks like there is a distinction between referrals

[2022-01-28 21:06] subaykan commented on #187
I can now repro this in dev by manipulating a dev record to `formVersion`=Ingested, and `timeNegotiable` set to 'Court Ordered' and adding a `courtOrderNotes` value, then setting `timeNegotiable` to null.

The questions I have are:

1. If the `timeNegotiable` field in an ingested referral is null, what does that suggest? Is that an error from the Famlink side?
2. If `timeNegotiable` is null, shoul

[2022-01-31 22:33] cdoran99 commented on #153
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:33] cdoran99 commented on #167
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:33] cdoran99 commented on #170
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:33] cdoran99 commented on #171
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:34] cdoran99 commented on #176
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:34] cdoran99 commented on #177
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:34] cdoran99 commented on #178
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:34] cdoran99 commented on #179
Reviewed and approved by Jessy on 01/28/2022

[2022-01-31 22:34] cdoran99 commented on #180
Reviewed and approved by Jessy on 01/28/2022

[2022-02-01 00:00] subaykan commented on #187
raw XML of the incoming case shows empty in that field as we suspected:

[code]

notes, steps to get this:

[code]

script:
[code]

[code]

[2022-02-01 00:40] nelsosd commented on #187
I took a look at the Referral that is downloaded from Sprout, and found the Court Data on it is exactly where it is on the FamLink Referral.
***@***.***

It’s just not showing on the UI version of Sprout. So we know Sprout has it, but it doesn’t display it.

Shannon Nelson, MSW/IT Technology Trainer
Technology Services
253-380-5273<tel:253-380-5273>/ ***@***.******@***.***>
***@***.***<http://www.

[2022-02-01 02:28] subaykan commented on #187
Hi @nelsosd : Sorry for causing a bit of confusion. Yes, that data is in the DB.

My comment which says "however I don't see the data for the latter in the DB" is outdated, I had mistyped the ID and saw wrong results.  My more recent findings are noted above, and they show that:

1. the court order notes for referral 61246 (visit plan 1571075) are indeed in the Sprout DB
2. the xml ingested into S

[2022-02-02 00:50] subaykan commented on #187
fix PR: https://github.com/cssat/sprout/pull/114

[2022-02-03 01:49] jessicamorris64 commented on #187
reviewed and approved by Jessy to move to prod 2/2/22

[2022-02-03 20:07] subaykan commented on #187
Deployed to prod 2/3/22 and verified the fix

[2022-02-03 20:07] #187 closed, assigned to subaykan

[2022-02-03 22:20] sarahyatsko commented on #48
@jessicamorris64

Jessy, I'm wondering if this is what you are thinking about . . .

A change approved by Deanna and deployed to Sprout in mid 2020 added an alert to provider users if the referral they were entering a visit report on was resolved. The ask was to simply alert providers, but not to prevent providers from entering reports on a resolved referral. There are no issues entered in GitHub

[2022-02-18 19:03] sarahyatsko opened #188 "Driver's Name on an Approved Report Disappears After their Sprout Account is Disabled"
**Describe the bug**
When a provider organization in Sprout disables a particular user account, it appears as though that user's name is wiped off the driver portion of all reports in Sprout - even if the report was fully approved and submitted.

**To Reproduce**
Start a visit report
Put a name in the driver field
Complete the visit report
Submit the Visit Report
Approve the Visit Report
Disable t

[2022-02-18 22:33] subaykan commented on #188
digging into this, some notes:

`client/app/visitation/components/VisitReport/Summary/Fieldsets/VisitTransportDetails/Item/Layout.jsx`

[code]

this `driversDataSource` is the url to get the list of available (approved) users, it boils down to here:
[code]

however it doesn't make sense to me why the summary page uses this, when the visit report has the user id in the `driver` field of the `transp

[2022-02-24 20:10] subaykan commented on #188
deployed to prod 2/24

[2022-02-24 20:10] #188 closed, assigned to nobody

[2022-02-24 23:43] jessicamorris64 commented on #188
forgot to say i approved this on 2/23 during John's demo.

[2022-03-14 21:48] subaykan opened #189 "Feature improvement: add a visual clue in Organization > Accounts to indicate org admin"
Add something like a checkbox or tooltip to indicate org admins in the org accounts list view

[2022-03-15 23:03] subaykan commented on #189
this is deployed to UAT, login and see as superuser: https://uat.sproutservices.org/organizations/22/accounts

[2022-03-21 18:36] subaykan commented on #189
approved by @jessicamorris64 - will deploy to prod this week
cssat/sprout/pull/117

[2022-03-21 18:36] subaykan commented on #189
approved by @jessicamorris64 - will deploy to prod this week

[2022-03-22 18:21] subaykan commented on #189
deployed to prod 3/22

[2022-03-22 18:21] #189 closed, assigned to nobody

[2022-06-29 19:50] jessicamorris64 opened #190 "mileage rate change July 1 2022"
OFM Rate change from Current rate of 58.5 cents per mile, to the new rate of 62.5 cents. IRS has already announced the change. it becomes effective July 1, 2022  (so needs to be in place before July statements go out in August).

[2022-07-09 00:57] jessicamorris64 opened #191 "New DCYF Admin Org"
this is an official request for the new DCYF Admin Org to be created in Sprout Prod. Jessica Morris can temporarily be placed as the org admin for this organization until those duties can be passed on to another.
this organization will be used for DCYF Field IT to manage all DCYF basic user and visit coordinator accounts on going. it must be able to enable and disable users from it's organization

[2022-07-13 00:09] jessicamorris64 opened #192 "Additional Rate Changes"
NEW
What are you trying to solve:
Legislature is no longer willing to fund certain family time items. There are changes to the following rates. Missed visit reports (both No Show and Cancelled Less than 24) will now be not paid ($0). Unusual incident Reports will now be paid out at 10 minutes at the rate of $26.50 ($4.42). Attended visit report will now be paid at 30 minutes at the rate of $26.50

[2022-07-13 22:26] subaykan opened #193 "Visit report history export missing updatedAt field value (timestamp)"
When downloading 'Report History' from a Sprout Visit Report, the CSV spreadsheet file has blanks in the cells where we expect to see "updated at"

See screenshot:

![Screenshot from 2022-07-13 15-18-40](https://user-images.githubusercontent.com/80794129/178846942-0925a72e-32eb-4ead-8d14-4ba1335939ff.png)

Should display a time value, this is saved in the database as a timestamp with timezone data

[2022-07-13 22:28] subaykan commented on #193
I have a workaround that seems to fix this, in my development environment

The simple fix produces this timestamp value for the 'Updated At' field:

![Screenshot from 2022-07-13 14-42-57](https://user-images.githubusercontent.com/80794129/178847653-0bc17e60-f6c8-4e21-932b-4e9dc948fe16.png)

If desired, we can apply a different formatting to the timestamp, with fewer details. However, this should s

[2022-07-14 20:55] subaykan commented on #193
Deploying to UAT a fix which displays the 'Updated At' in a more friendly format:

![Screenshot from 2022-07-14 13-54-15](https://user-images.githubusercontent.com/80794129/179084271-2b3627a0-173c-4cd7-b382-ab7cfdc9a100.png)

[2022-07-14 21:12] subaykan commented on #193
PR for fix: https://github.com/cssat/sprout/pull/121

[2022-07-19 19:41] subaykan commented on #193
Deployed to prod 7/19

[2022-07-22 21:25] subaykan commented on #193
Reopening this, as this change seems to have caused a new problem in visit reports.  When a new visit report is created, the udpatedAt field gets saved and/or displayed with the wrong timestamp (ref zendesk ticket 19422).
example: at 7/22 14:22 PDT, creating a visit report shows that it was last saved at 07/22/22, 9:22 PM PDT -

Will revisit this issue and look for a fix that avoids this

[2022-07-25 22:36] subaykan commented on #193
PR for new fix: cssat/sprout#122

[2022-07-26 16:50] subaykan commented on #193
Deployed to prod 7/26

[2022-07-26 16:50] #193 closed, assigned to nobody

[2022-08-19 21:05] jessicamorris64 opened #194 "Requiring Provider to Enter Reason for Resolving Referral and Steps Taken"
Requiring providers to enter a reason for resolving a referral (like they do for 72 hours). Making this a required field and steps taken to address.
these are requirements based on contractual needs. currently the ability to enter a reason for resolving is optional for providers, which many are not doing. requiring this information to be entered will help with data and reporting needs.

[2022-08-19 21:16] jessicamorris64 opened #195 "Time out option for User Accounts and/or Passwords"
When a worker does not use their account for a certain number  of day, having it disable/lock. Having a mandatory password reset after certain number of days.
currently we have a large number of Sprout Accounts that are no longer active due to DCYF staff (possibly provider staff as well) who have left the agency but their accounts remain active. by forcing a password reset on accounts that have no

[2022-08-25 00:40] subaykan commented on #195
I would suggest a simple implementation for this where we disable the user account if we can detect that a user has not logged in for some time, you can define that criterion (e.g. 6 months? 1 year?)

If this is really to address the scenario of people who leave the organization (could be DCYF, or provider orgs, or another routing org) then this would be a reasonable automatic action. Also, imposi

[2022-09-26 21:09] subaykan commented on #191
this org was created, closing this item

[2022-09-26 21:09] #191 closed, assigned to nobody

[2022-09-30 23:43] jessicamorris64 opened #196 "deactivate accounts after 90 days"
there is a request to deactivate users (both DCYF and Provider) if they have been inactive for 60 or more days. if they then need to reactivate they can make that request to their Org Admin. this will prevent those who should no longer have access from continuing to have the ability to access Sprout.

alternative if above is not possible:
For DCYF staff...
CSSAT team provides a monthly report of u

[2022-10-05 00:07] subaykan commented on #195
closing as dup of #196

[2022-10-05 00:07] #195 closed, assigned to nobody

[2022-10-05 00:08] subaykan commented on #196
Note: we can put a cron in place that executes an update statement like this:

[code]

(closed issue #195 as duplicate of this)

[2022-10-20 21:34] jessicamorris64 opened #197 "Required fields for CANS-F"
As a program manager I need to make sure the following fields on the CANS-F are required in order to have accurate data and correctly match the CANS-F to a case in FamLink.
this is a priority for the CANS-F program, OIAA, and Quality Assurance.

Require FamLink Service Referral ID
Require Referral Reason to be selected from existing drop down menu
Require Date of FPC completion
Require Date Referr

[2022-11-10 23:02] jessicamorris64 opened #198 "CANS-F add Case ID field"
as a DCYF employee and a CANS-F provider, I need the CANS-F to have a Case ID field added to the facesheet that will be restricted to numbers only and be a required field.

[2022-11-23 02:16] jessicamorris64 opened #199 "CANS-F Did not Complete status"
As a provider I need a button created for "did not complete" ; that allows providers to bypass the CANS-F and complete the End of Intervention Summary.
Please contact Delton for more info